{% extends 'base.html' %}
{% load static%}
{% block scripts %}

<!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
{% endblock %}
{% block content %}



<div id="wrapper" class="container-fluid" >
    <div class="row" > <br/> </div>
    <div class="col-xs-12 col-sm-16 col-md-12"> <p style="text-align: center; font-size:32px"> </p>
    </div>
    <div class="row" > <br/> </div>
    <div class="row" > <br/> </div>
    <div class="row" >
        <div class="col-sm-4">
            <div class="well">
                <p style="text-align: center; font-size:24px"><strong>Client Dashboard</strong> <br/>
                    <select name="formal" class="selectpicker show-tick" data-live-search="true" data-style="btn-dark" title="Select client Dashboard" multiple  >
                        {% for icon in num_books %}
                        {% if icon.category == 1 and icon.active == 1%}

                        <option value={{icon.url}} style="text-align:left;">{{icon.name}}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p style="text-align: center; font-size:24px"><strong>Internal Dashboard</strong> <br/>
                    <select name="formal2" class="selectpicker show-tick" title="Select Internal Dashboard " multiple  data-live-search="true" data-style="btn-light" onchange="javascript:handleSelect(this)" >
                        {% for icon in num_books %}
                        {% if icon.category == 2 and icon.active == 1%}
                        <option value={{icon.url}} style="text-align:left;">{{icon.name}}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p style="text-align: center; font-size:24px"><strong>Release Dashboard </strong><br/>
                    <select name="formal3" class="selectpicker show-tick"  title="Dev Release Dashboard" multiple data-live-search="true" data-style="btn-default" onchange="javascript:handleSelect(this)" >
                        {% for icon in num_books %}
                        {% if icon.category == 3 and icon.active == 1%}
                        <option value={{icon.url}} style="text-align:left;">{{icon.name}}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </p>
            </div>
        </div>
    </div>
    <div class="row" > <br/> </div>
    <div class="row" > <br/> </div>
    <div class="row" > <br/> </div>

    <div class="row" >
        <div class="col-xs-12 col-sm-16 col-md-12">
            <p style="text-align: center; font-size:32px"> <strong>Technology Space</strong></p>
        </div>
    </div>
    <div class="row" > <br/> </div>
    <div class="row" > <br/> </div>

    <div class="row" >

        <div class="col-xs-12 col-sm-16 col-md-7 col-md-push-3">
            <div class="chart">
                <canvas class="wrap" id="myChart" width="100%" height="50%"></canvas>
            </div>
        </div>
    </div>


            <input type="submit" value="submit">
        </form>
            </div>
    </div>
    {% endif %}





</div>


{% endblock %}

{% block javascript %}
<link rel="stylesheet" href="{% static 'css/bootstrap-combined.min.css' %}">
<!--<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">-->
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<!--&lt;!&ndash; Add additional CSS in static file &ndash;&gt;-->
</script><script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/Chart.js' %}"></script>

<script type="text/javascript">


$( document ).ready(function() {
$("select").on("changed.bs.select",
      function (e, clickedIndex, newValue, oldValue) {
    var selected = $(e.currentTarget).val();
    console.log(selected);
       window.open(selected[selected.length-1]);
});

});

jQuery.ajax({
    url: "https://validusrm.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/4dl21t/b/6/e73395c53c3b10fde2303f4bf74ffbf6/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?locale=en-UK&collectorId=273be73b",
    type: "get",
    cache: true,
    dataType: "script"
});
window.onload = function() {
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
	// The type of chart we want to create
	type: 'line', // also try bar or other graph types

	// The data for our dataset
	data: {
		<!--labels: ["07/06/2018","08/06/2018","11/06/2018","12/06/2018","13/06/2018","14/06/2018","15/06/2018","18/06/2018","19/06/2018","20/06/2018","21/06/2018","22/06/2018","25/06/2018","26/06/2018","27/06/2018","28/06/2018","29/06/2018","02/07/2018","03/07/2018","04/07/2018","05/07/2018"],-->
		labels: {{ date_label|safe }},

		// Information about the dataset

    datasets: [{
			label: "Successful Run",
			backgroundColor: '#92cce7',
			borderColor: 'royalblue',
			<!--data: [0,1,0,1,2,3,4,5,6,7,0,0,0,1,2,0,0,0,1,2],-->
			data: {{ successful_run }}
		},
		{
			label: "isCrashed",
			backgroundColor: 'lightgreen',
			borderColor: 'royalgreen',
			<!--data: [1,0,1,0,0,0,0,0,0,0,1,1,1,0,0,0,1,1,0,0],-->
			data: {{ is_crashed }}
		},
		{
			label: "Suv",
			backgroundColor: 'lightred',
			borderColor: 'royalred',
			<!--data: [1,0,2,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0],-->
			data: {{ crash_number }}
		}]
	},

	// Configuration options
	options: {
    layout: {
      padding: 10,
    },
		legend: {
			position: 'bottom',
		},
		title: {
			display: true,
			text: 'Daily Scripts'
		},
		scales: {
			yAxes: [{
				scaleLabel: {
					display: true,
					labelString: 'Successful run consecutive days in number'
				}
			}],
			xAxes: [{
				scaleLabel: {
					display: true,
					labelString: 'Month of the Year'
				}
			}]
		}
	}
});
};
</script>
<script>
    $(document).ready(function (){
        $('#ShowWhenCrashedDiv').hide();
     });

    $('#CrashCheckbox').click( function (){
        if ($(this).is(':checked'))
            $('#ShowWhenCrashedDiv').show();
        else
            $('#ShowWhenCrashedDiv').hide();
    });
</script>

{% endblock %}

