{% extends 'NewBase.html' %}
{% load static %}
{% block scripts %}
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    max-width: 300px;
    margin: auto;
    text-align: center;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.card-body {
    padding: 4px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.image {
    padding: 10px;
    border-radius: 20px;
}

img.image {
object-fit: cover;
width: 230px;
height: 230px;
}

.card-body .image {
    background-size: cover;
}

.crop img {
    margin:
    }

<!--.crop img {-->
    <!--width: 300px;-->
    <!--height: 300px;-->
    <!--margin: 0 0 -100px -100px;-->
<!--}-->
</style>
{% endblock %}
{% block fund_select %}
<br/>
<select id="fund-select" class="form-control" style="border-radius: 5px;">
</select>
<script>

$(document).ready(function(){
    $.ajax({
        type: 'POST',
        url: "{% url 'api-get-fund' %}",
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'type': '{{ client_data }}',
        },
        success: function(data){
            $.each(data['fund'], function(key, value){
                $('#fund-select').append('<option value="' + value + '">' + value + '</option>');
            });
        }
    });
});
</script>
{% endblock %}

{% block content %}

<div class="ibox" style="padding: 2%;">
    <div class="ibox-content">
        <div class="row" style="margin: 4%;">
            {% for user in partners %}
            {% if client_data in user.profile.clients.all %}
            {{ counter.increment }}
            <div class="col-sm-4">
                <div class="card" >
                    <div class="card-body">
                        <img class="image crop" {% if not user.profile.image_url == null %}src="{{ user.profile.image_url }}" {% else %} src="/static/no_image.png" {% endif %}  width="80%" height="80%" alt="Card image cap">
                        <h5 class="card-title"><b>{{ user.first_name }} {{ user.last_name }}</b></h5>
                        {% for g in user.groups.all %}
                        <h6> {{ g }} </h6>
                        {% endfor %}
                        <a class="card-text" href="mailto:{{ user.email }}" >{{ user.email }} </a>
                    </div>
                </div>
            </div>
            {% if counter.divisible_by == True %}
            {{ counter.reset }}
        </div>
        <div class="row" style="margin: 4%;">
            {% endif %}
            {% endif %}
            {% endfor %}
            <!--</div>-->
            <!--<div class="row" style="margin: 4%;">-->
            {% for user in staff %}
            {% if client_data in user.profile.clients.all and partner_instance not in user.groups.all %}
            {{ counter.increment }}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img class="image" {% if not user.profile.image_url == null %}src="{{ user.profile.image_url }}" {% else %} src="/static/no_image.png" {% endif %} width="80%" height="80%" alt="Card image cap">
                        <h5 class="card-title"><b>{{ user.first_name }} {{ user.last_name }}</b></h5>
                        {% for g in user.groups.all %}
                        <h6> {{ g }} </h6>
                        {% endfor %}
                        <a class="card-text" href="mailto:{{ user.email }}" >{{ user.email }} </a>
                    </div>
                </div>
            </div>
            {% if counter.divisible_by == True %}
        </div>
        <div class="row" style="margin: 4%;">
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
