.image-container{
    max-width: 80%;
    text-align: center;

}
.client-name {
    display: inline-block;
    width: 100%;
    font-size: 1.75em;
    color: white;
    font-weight: 300;
    line-height: 1em;
    margin-top: .75em;
    margin-bottom: .75em;
    padding-top: .25em;
    padding-bottom: .25em;
    border-top: 1px solid #a7b1c2;
    border-bottom: 1px solid #a7b1c2;
    text-transform: uppercase;
  }

