    {% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Logged Out</h3>
            </div>
            <div class="panel-body">
                 {% if title != "" %}
                    <p> {{ title }} </p>
                {%else%}
                     <p>Thanks for spending some quality time with our service today.</p>
                {% endif %}
            <a href="{% url 'login' %}">Log in again</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}