{% extends 'base.html' %}


{% block content %}
<div class="row">

    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <form class="login" method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    {{ form.as_table }}

                    <br/>

                    <p class="bs-component">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </p>
                    <input type="hidden" name="next" value="{{ next }}" />

                    <!--<a href="{% url 'signup' %}">Registered with Validus? Sign up</a><br/>-->
                    <a href="{% url 'password_reset' %}">Forgotten Password</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-offset-2">
        {% if form.errors %}

        <p class="center">Your username and password didn't match. Please try again.</p>

        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}

        <p class="center">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}

        <p class="center">Please login to see this page.</p>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
