{% extends 'base.html' %}


{% block content %}
{% if validlink %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="reset-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change password</h3>
            </div>
            <div class="panel-body">
                <form method="post" class="reset">
                    {% csrf_token %}
                    {{ form.as_table }}

                    <br/>

                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="reset-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change password</h3>
            </div>
            <div class="panel-body">
              <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
              </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}