{% extends 'base.html' %}

{% block login_not_needed %}
<p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive it shortly.
</p>
<p>
    If you don't receive an email, please make sure that you've entered the address you registered with, and check your spam folder.
</p>

{% endblock %}