{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="reset-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Forgot Password</h3>
            </div>
            <div class="panel-body">
                <form method="post" class="reset">
                    {% csrf_token %}
                    {{ form.as_table }}

                    <br/>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}