<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validus Risk Management - Page Not Found</title>
    <!-- Core CSS - Include with every page -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <style>
 html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}
.landscape {
    height: 30px;
    width: 80px;
}
#wrapper {
  background-color: #92cce7;
  min-height: 100%;
  height: auto !important;
  position:relative;
}
#wrapper1 {
  background-color: black;
  min-height: 100%;
  height: auto !important;
  position:relative;
}

#wrapper:after {
  content: "";
  display: block;
  height: 50px; /* the footer's total height */
}

#content {
  height: 40%;
}


    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about-us-image{
display: flex;
justify-content: center;
align-items: center;
overflow: hidden!important
}
.about-us-image img{
flex-shrink: 0;
min-width: 100%;
min-height: 100%
}

.chart {
  border: 3px solid royalblue;
}



<!-- Dashboard CSS -->
body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.nav {
    color: #ffffff;
    }

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #003f61;
  <!--box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);-->
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: #003f61;
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px #003f61;
}

<!--.navbar-inverse .navbar-nav li a {-->
    <!--color: #ffffff;-->
    <!--}-->


</style>


</head>
<body style="padding-top: 10px; background-color: #ffffff;">
<div class="container" style=" background-color: #92cce7; border-top-left-radius: 10px; border-top-right-radius: 10px; display: block; width: 100%;" >
    <div class="container" style="background-color: #92cce7; border-top-left-radius: 10px; border-top-right-radius: 10px; ">
        <img class="center" src="{% static 'img/valiuds_logo.png' %}" style="width: 50%; height: 70%; padding: 10px; margin: 10px;" >
    </div>
    <p>The page you are trying to access does not exist.</p>
</div>
<script src = "{% static 'js/jquery.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>

<div class="container" style="background-color: #92cce7; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; display: block; width: 100%; padding: 2%;">
    <div class="row">
        <div class="col-sm-12" style="">
            <footer class="container-fluid text-center">

                <strong>Copyright</strong> Validus Risk Management &copy; 2015
                <script>new Date().getFullYear() > 2015 && document.write("- " + new Date().getFullYear());</script>
            </footer>

        </div>
    </div>
</div>

</body>
</html>

