{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Validus Rish Management{% endblock %}</title>
    <!-- Core CSS - Include with every page -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <style>
 html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}
.landscape {
    height: 30px;
    width: 80px;
}
#wrapper {
  background-color: lightblue;
  min-height: 100%;
  height: auto !important;
  position:relative;
}
#wrapper1 {
  background-color: black;
  min-height: 100%;
  height: auto !important;
  position:relative;
}

#wrapper:after {
  content: "";
  display: block;
  height: 50px; /* the footer's total height */
}

#content {
  height: 40%;
}


    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about-us-image{
display: flex;
justify-content: center;
align-items: center;
overflow: hidden!important
}
.about-us-image img{
flex-shrink: 0;
min-width: 100%;
min-height: 100%
}

.chart {
  border: 3px solid royalblue;
}
</style>
    {% block scripts %}
    {% endblock %}

</head>
<body style="padding: 65px;">

{% if user.is_authenticated %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/validus_logo.jpg' %}" alt="Validus" height="30" width="120""></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi {{ user.username }}!
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% if user.is_superuser %}
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>


    </div>
</nav>
<nav>
    <div class="container ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <ul class="">

                    </ul>

                    {% block sidebar %}
                    {% endblock %}
                </div>
                <div class="col-sm-12 col-md-offset-1" style="padding-top: 10;">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</nav>
{% else %}

<div class="portrait">
    <img class="center" src="{% static 'img/valiuds_logo.png' %}" >
</div>

{% endif %}

{% block login %}
{% endblock %}

<!-- Core Scripts - Include with every page -->
<script src = "{% static 'js/jquery.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>

{% block javascript %}
{% endblock %}

<footer class="container-fluid text-center">
    <strong>Copyright</strong> Validus Risk Management &copy; 2015
    <script>new Date().getFullYear() > 2015 && document.write("- " + new Date().getFullYear());</script>
</footer>

</body>
</html>