{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Validus Risk Management{% endblock %}</title>
    <!-- Core CSS - Include with every page -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    {% block scripts %}
    {% endblock %}
    <style>
        html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}
.landscape {
    height: 30px;
    width: 80px;
}
#wrapper {
  background-color: #92cce7;
  min-height: 100%;
  height: auto !important;
  position:relative;
}
#wrapper1 {
  background-color: black;
  min-height: 100%;
  height: auto !important;
  position:relative;
}

#wrapper:after {
  content: "";
  display: block;
  height: 50px; /* the footer's total height */
}

#content {
  height: 40%;
}


    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about-us-image{
display: flex;
justify-content: center;
align-items: center;
overflow: hidden!important
}
.about-us-image img{
flex-shrink: 0;
min-width: 100%;
min-height: 100%
}

.chart {
  border: 3px solid royalblue;
}



/* Dashboard CSS */
body {
    /* font-size: .875rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.nav {
    color: #ffffff;
    }

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #003f61;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: #003f61;
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px #003f61;
}

.login label,
.reset label {
    width: 100%;
    display: inline-block;
}

.login input,
.reset input {
    /* Ripped from bootstrap computed styles */
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s,box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.content-block {
    padding-bottom: 10%;
}

.btn.btn-primary {
    color: white;
    width: 100%;
}

.footer {
    display: block;
    position: relative;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

</style>


</head>

<body>
    <div class="container" style="">
        {% if user.is_authenticated %}
         <div class="" style="">
            <img class="center" src="{% static 'img/valiuds_logo.png' %}" style="width: 50%; padding: 10px; max-width: 355px;">
        </div>
          <!--<img class="img-container" alt="image" src="{% static 'img/Validus-on-black-CMYK.svg' %}" />-->
        <!--<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #003f61; ">-->
            <!--<div class="">-->
                <!--<div class="navbar-header">-->
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
                        <!--aria-expanded="false" aria-controls="navbar">-->
                        <!--<span class="sr-only">Toggle navigation</span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                    <!---->
                <!--</div>-->
                <!--<div id="navbar" class="navbar-collapse collapse">-->
                    <!--<ul class="nav navbar-nav navbar-right">-->
                        <!--&lt;!&ndash;<li><a href="#">Settings</a></li>&ndash;&gt;-->

                        <!--&lt;!&ndash;<li><a href="#">Profile</a></li>&ndash;&gt;-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi-->
                                <!--{{ user.first_name }}!-->
                                <!--<span class="caret"></span>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu" role="menu">-->
                                <!--{% if user.is_superuser %}-->
                                <!--<li>-->
                                    <!--<a href="/admin">Admin</a>-->
                                <!--</li>-->
                                <!--{% endif %}-->


                                <!--<li class="divider"></li>-->
                                <!--<li>-->
                                    <!--<a href="/logout">Logout</a>-->
                                <!--</li>-->

                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<form class="navbar-form navbar-right">-->
                    <!--<input type="text" class="form-control" placeholder="Search...">-->
                    <!--</form>-->
                <!--</div>-->


            <!--</div>-->
        <!--</nav>-->
        {% else %}

        <!--<div class="portrait">-->
        <div class="" style="">
            <img class="center" src="{% static 'img/valiuds_logo.png' %}" style="width: 50%; padding: 10px; max-width: 355px;">
        </div>
        <!--</div>-->


        {% endif %}
        {% block login_not_needed %}
        {% endblock %}
    </div>

    <div class="container content-block" style="">
        {% comment %} {% block header %}{% endblock %} {% endcomment %}
        <div class="row">
            <div class="col-sm-12" style="">
                {% block content %}

                {% endblock %}
            </div>
        </div>

    </div>



    {% comment %} {% block login %}{% endblock %} {% endcomment %}

    <!-- Core Scripts - Include with every page -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block javascript %}
    {% endblock %}
    <div class="footer" style="">
        <div class="row">
            <div class="col-sm-12" style="">
                <footer class="text-center">

                    <strong>Copyright</strong> Validus Risk Management &copy; 2015
                    <script>new Date().getFullYear() > 2015 && document.write("- " + new Date().getFullYear());</script>
                </footer>

            </div>
        </div>
    </div>

</body>

</html>