<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiskView {% if client %}| {{ client }} {% endif %}</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/flags.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">
    <!-- ICON LIST -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/validus/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/validus/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/validus/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/validus/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/validus/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/validus/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/validus/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/validus/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/validus/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/validus/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/validus/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/validus/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/validus/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/validus/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/validus/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!--<script src="https://kit.fontawesome.com/2c15a381d2.js" crossorigin="anonymous"></script>-->
    <!-- TODO: Uncategorized -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/lodash.min.js' %}"></script>

    <!-- Shims -->
    <script src="{% static 'js/shims/promise.min.js' %}"></script>
    <script src="{% static 'js/shims/setasap.min.js' %}"></script>

    <!-- Utils -->
    <script src="{% static 'js/utils/iso4217to2.js' %}"></script>
    <script src="{% static 'js/utils/formatters.js' %}"></script>
    <script src="{% static 'js/utils/accounting.js' %}"></script>

    <!-- Bootstrap -->
    <script defer src="{% static 'js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'js/bootstrap-select.min.js' %}"></script>

    <!-- AG-Grid -->
    <link rel="stylesheet" href="{% static 'node_modules/ag-grid/dist/styles/ag-grid.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/ag-grid/dist/styles/ag-theme-bootstrap.css' %}">
    <script defer src="{% static 'node_modules/ag-grid-enterprise/dist/ag-grid-enterprise.min.js' %}"></script>

    <script>
        $(function() {
            agGrid.LicenseManager.setLicenseKey("Validus_Risk_Management_Ltd___RiskView_1Devs7_January_2020__MTU3ODM1NTIwMDAwMA==63eb9e59e0e6f9653240a1a826efa0d2");
        })
    </script>

    <script>
        $(document).ready(function() {
            $('body').on('click', '.panel.collapsable .panel-heading', function() {
                const $parent = $(this).parents('.panel').eq(0);

                $parent.toggleClass('collapsed');
            })
        })
    </script>

    {% if client_configuration %}
    <script>
        // Client Configuration
        clientConfig = {{ client_configuration|safe }};
    </script>
    {% endif %}

    <style>
        .footer {
            position: fixed;
            height: 50px;
            bottom: 0;
            width: 100%;
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 970px;
            }
        }

        {% if "Futures Tab Headers" in allowed_tab_list %}
        .navbar-default .special_link a {
            background: #10152A;
            color: white;
            cursor: default;
        }

        .navbar-default .special_link a:hover {
            background: #10152A !important;
        }
        {% endif %}
    </style>
    {% block scripts %}
    {% endblock %}
</head>

<body class="fixed-navigation">

    {% if user.is_authenticated %}

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed;">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img class="img-container" alt="image" src="{% static 'img/Validus-on-black-CMYK.svg' %}" />
                            </span>
                            {% if pretty_name %}
                            <span>
                                <span class="client-name">{{ pretty_name }}</span>
                            </span>
                            {% else %}
                            <span class="text-muted block m-t-xs">&nbsp;</span>
                            {% endif %}
                        </div>
                        <div class="logo-element">
                            RiskView
                        </div>
                        <select id="fund-select" class="selectpicker" data-size="20" data-style="btn-default" data-width="100%"
                            data-live-search="true" data-live-search-style="startsWith">
                            {% for item in fund %}
                            <option value="{{ item.fund_name }}">{{ item.fund_name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    {% if "Futures Tab Headers" in allowed_tab_list %}
                        <li class="special_link">
                            <a><i class="fas fa-ellipsis-v"></i> <span class="nav-label">Forex</span></a>
                        </li>
                    {% endif %}
                    {% if "Summary" in allowed_tab_list %}
                        {% url 'summary-dashboard' label=label as summary_dashboard %}
                        <li {% ifequal request.path summary_dashboard %}class="active"{% endifequal %}><a href="{{ summary_dashboard }}"><i class="fas fa-tachometer-alt"></i> <span class="nav-label">Summary Dashboard</span></a></li>
                        <!--<li><a data-toggle="tab" href="#dashboard2"><i class="fa fa-file-text-o"></i> <span class="nav-label">Deals</span></a></li>-->
                    {% endif %}
                    {% if "Counterparty" in allowed_tab_list %}
                        {% url 'counterparty' label=label as dashboard_counterparty %}
                        <li {% ifequal request.path dashboard_counterparty %}class="active"{% endifequal %}><a href="{{ dashboard_counterparty }}"><i class="fas fa-university"></i> <span class="nav-label">Counterparty</span></a></li>

                    {% endif %}
                    {% if "Portfolio" in allowed_tab_list %}
                        {% url 'portfolio' label=label as portfolio_dashboard %}
                        <li {% ifequal request.path portfolio_dashboard %}class="active"{% endifequal %}><a href="{{ portfolio_dashboard }}"><i class="fas fa-chart-line"></i><span class="nav-label">Deals</span></a></li>
                    {% endif %}
                    {% if "Market" in allowed_tab_list %}
                        {% url 'market-dashboard' label=label as market_dashboard %}
                        <li {% ifequal request.path market_dashboard %}class="active"{% endifequal %}><a href="{{ market_dashboard }}"><i class="fas fa-chart-bar"></i> <span class="nav-label">Market</span></a></li>
                    {% endif %}
                    {% if "SAR" in allowed_tab_list %}
                            {% url 'settlementrolling' label=label as settlementrolling_dashboard %}
                            <li {% ifequal request.path settlementrolling_dashboard %}class="active"{% endifequal %}><a href="{{ settlementrolling_dashboard }}"><i class="fas fa-keyboard"></i> <span class="nav-label">Settlement and Rolling</span></a></li>
                    {% endif %}
                    
                    {% if "TradeDB" in allowed_tab_list %}
                        {% url 'trade-database-info-dashboard' label=label as trade_db_info_dashboard %}
                        <li {% ifequal request.path trade_db_info_dashboard %} class="active" {% endifequal %}><a href="{{ trade_db_info_dashboard }}"><i class="fas fa-file-code"></i></i> <span class="nav-label">Trade Allocation</span></a></li>
                    {% endif %}
                    {% if "HedgeRatio" in allowed_tab_list %}
                        {% url 'hedge_ratio' label=label as hedgeratio %}
                        <li {% ifequal request.path hedgeratio %}class="active"{% endifequal %}><a href="{{ hedgeratio }}"><i class="fas fa-calculator"></i> <span class="nav-label">Hedge Analytics</span></a></li>

                    {% endif %}
                     {% if "MultiLevelHedgeDashboard" in allowed_tab_list %}
                        {% url 'multi_hedge_ratio' label=label as multihedgeratio %}
                        <li {% ifequal request.path multi_hedge_ratio %}class="active"{% endifequal %}><a href="{{ multihedgeratio }}"><i class="fas fa-calculator"></i> <span class="nav-label">Hedge Analytics</span></a></li>

                    {% endif %}
                    {% if "FundLevelHedgeDashboard" in allowed_tab_list %}
                        {% url 'fund_hedge_ratio' label=label as fundlevelhedgedashboard %}
                        <li {% ifequal request.path fundlevelhedgedashboard %}class="active"{% endifequal %}><a href="{{ fundlevelhedgedashboard }}"><i class="fas fa-calculator"></i> <span class="nav-label">Hedge Analytics</span></a></li>

                    {% endif %}
                    {% if "AnalyticsDashboard" in allowed_tab_list %}
                        {% url 'analytics' label=label as riskanalytics %}
                        <li {% ifequal request.path riskanalytics %}class="active"{% endifequal %}><a href="{{ riskanalytics }}"><i class="fas fa-square-root-alt"></i> <span class="nav-label">Risk Analytics</span></a></li>

                    {% endif %}

                    {% if "MultiLevelAnalyticsDashboard" in allowed_tab_list %}
                        {% url 'manalytics' label=label as riskmanalytics %}
                        <li {% ifequal request.path riskmanalytics %}class="active"{% endifequal %}><a href="{{ riskmanalytics }}"> <i class="fas fa-square-root-alt"></i><span class="nav-label">Risk Analytics</span></a></li>

                    {% endif %}

                    {% if "FundLevelAnalyticsDashboard" in allowed_tab_list %}
                        {% url 'fanalytics' label=label as riskfanalytics %}
                        <li {% ifequal request.path riskfanalytics %}class="active"{% endifequal %}><a href="{{ riskfanalytics }}"><i class="fas fa-square-root-alt"></i><span class="nav-label">Risk Analytics</span></a></li>

                    {% endif %}

                    {% if "PickUpCreditDashboard" in allowed_tab_list %}
                        {% url 'pucanalytics' label=label as puc_analytics %}
                        <li {% ifequal request.path puc_analytics %}class="active"{% endifequal %}><a href="{{ puc_analytics }}"><i class="fas fa-chart-pie"></i><span class="nav-label">Pick Up Credit Analytics</span></a></li>

                    {% endif %}

                    {% if "Forecast" in allowed_tab_list %}
                        {% url 'forecast' label=label as awforecast %}
                        <li {% ifequal request.path awforecast %}class="active"{% endifequal %}><a href="{{ awforecast }}"><i class="fas fa-share-alt-square"></i> <span class="nav-label">Forecast</span></a></li>

                    {% endif %}
                    {% url 'ate_tracker' label=label as ate_tracker %}
                        <li {% ifequal request.path ate_tracker %}class="active"{% endifequal %}><a href="{{ ate_tracker }}"><i class="fas fa-book"></i><span class="nav-label">ATE Traker</span></a></li>

                    {% if "Data Editor" in allowed_tab_list   %}
                        {% url 'data_editor' label=label as data_editor %}
                        <li {% ifequal request.path data_editor %}class="active"{% endifequal %}><a href="{{ data_editor }}"><i class="fas fa-book"></i><span class="nav-label">Data Editor</span></a></li>

                    {% endif %}
                    {% if "CostAnalyticsDashboard" in allowed_tab_list   %}
                        {% url 'editor_tab' label=label as editor_tab %}
                        <li {% ifequal request.path editor_tab %}class="active"{% endifequal %}><a href="{{ editor_tab }}"><i class="fas fa-book"></i><span class="nav-label">Data Editor</span></a></li>
                    {% endif %}

                    {% if "GC Data Editor" in allowed_tab_list   %}
                        {% url 'gc_data_editor' label=label as data_editor %}
                        <li {% ifequal request.path data_editor %}class="active"{% endifequal %}><a href="{{ data_editor }}"><i class="fas fa-book"></i><span class="nav-label">Data Editor</span></a></li>
                    {% endif %}

                    {% if "Futures Tab Headers" in allowed_tab_list %}
                        <br/>
                        <br/>
                        <li class="special_link">
                            <a><i class="fas fa-ellipsis-v"></i> <span class="nav-label">Futures</span></a>
                        </li>
                    {% endif %}
                    {% if "Futures Summary" in allowed_tab_list %}
                        {% url 'futures_summary' label=label as futures_summary %}
                        <li {% ifequal request.path futures_summary %}class="active"{% endifequal %}><a href="{{ futures_summary }}"><i class="fas fa-tachometer-alt"></i><span class="nav-label">Summary Dashboard</span></a></li>
                    {% endif %}
                    {% if "Future Counterparty" in allowed_tab_list %}
                        {% url 'future_counterparty' label=label as future_counterparty %}
                        <li {% ifequal request.path future_counterparty %}class="active"{% endifequal %}><a href="{{ future_counterparty }}"><i class="fas fa-university"></i>  <span class="nav-label">Counterparty</span></a></li>
                    {% endif %}
                    {% if "FutureTradeDB" in allowed_tab_list %}
                        {% url 'future-trade-database-info-dashboard' label=label as future_trade_db_info_dashboard %}
                        <li {% ifequal request.path future_trade_db_info_dashboard %} class="active" {% endifequal %}><a href="{{ future_trade_db_info_dashboard }}"><i class="fas fa-file-code"></i> <span class="nav-label">Trade Allocation</span></a></li>
                    {% endif %}

                    <!--{% if "Futures Tab Headers" in allowed_tab_list %}-->
                        <!--<br/>-->
                        <!--<br/>-->
                        <!--<li class="special_link">-->
                            <!--<a><i class="fas fa-ellipsis-v"></i> <span class="nav-label">General</span></a>-->
                        <!--</li>-->
                    <!--{% endif %}-->
                    {% if "Reporting" in allowed_tab_list %}
                        {% url 'reporting' label=label as reporting %}
                        <li {% ifequal request.path reporting %}class="active"{% endifequal %}><a href="{{ reporting }}"><i class="fas fa-receipt"></i> <span class="nav-label">Reporting</span></a></li>
                    {% endif %}
                    {% if "AggregateReporting" in allowed_tab_list %}
                        {% url 'agg_report' label=label as reporting %}
                        <li {% ifequal request.path reporting %}class="active"{% endifequal %}><a href="{{ reporting }}"><i class="fas fa-receipt"></i><span class="nav-label">Aggregate Reporting</span></a></li>
                    {% endif %}

                    {% if "Contacts" in allowed_tab_list and user.is_active %}
                        {% url 'client-contact-page' label=label as client_contact_page %}
                        <li {% ifequal request.path client_contact_page %}class="active"{% endifequal %}><a href="{{ client_contact_page }}"><i class="fas fa-phone-square-alt"></i> <span class="nav-label">Contact</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg sidebar-content">
            <div class="row border-bottom">
                <nav class="col-sm-12 navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <!--<div class="navbar-header">-->
                    <!--<a class="navbar-minimalize minimalize-styl-2 btn btn-success"><i class="fa fa-bars"></i></a>-->
                    <!--</div>-->
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <br />
            </div>
            {% block content %}


            {% endblock %}
            <div class="footer">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <strong>
                            5 Merchant Square, Paddington, London, W2 1AY. Tel: +44 (0) 20 3923 8809
                        </strong>
                    </div>

                    <div class="col-md-6 text-right">
                        <strong>
                            10 King Street East, Suite 800, Toronto, ON, M5C 1C3, Canada - Tel: +(1) 416 646 0590
                        </strong>
                    </div>

                    <div class="col-md-12 text-center">
                        <strong>Copyright</strong> Validus Risk Management &copy; 2015
                        <script>new Date().getFullYear() > 2015 && document.write("- " + new Date().getFullYear()); </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% block deferred_scripts %}{% endblock %}
</body>

</html>