<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>RiskView{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/matrix-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/matrix-media.css' %}" />
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>

<!--Header-part-->
<!--<div id="header">-->
    <!--<h1><a href="{% url 'market-dashboard' ">Dashboard</a></h1>-->
<!--</div>-->
<!--close-Header-part-->


<!--top-Header-menu-->
<!--<div id="user-nav" class="navbar navbar-inverse">-->
    <!--<ul class="nav">-->
        <!--<li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#"><i class="icon-user"></i> My Profile</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#"><i class="icon-check"></i> My Tasks</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> new message</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> inbox</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> outbox</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>-->
        <!--<li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>-->
    <!--</ul>-->
<!--</div>-->
<!--close-top-Header-menu-->
<!--start-top-serch-->
<!--<div id="search">-->
    <!--<input type="text" placeholder="Search here..."/>-->
    <!--<button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>-->
<!--</div>-->
<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar">
    <!--<a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>-->
    <ul>
        <div class="sidebar-header" style="padding-top: 40px;">
                <img src="{% static 'img/Validus-on-black-RGB.png' %}" width="100%">
        </div>
        <div class="sidebar-header" style="padding-top:40px;">
            <img src="{{ client_image }}" alt="{{ client_name }}">
        </div>
        <li>
            <div class="dropdown">
            {% block fund_select %}
            {% endblock %}
            </div>
        </li>
        <span>
            <br/>
            <br/>
        </span>
        <li class="active"><a href="#"><i class="fas fa-keyboard"></i> <span>Market</span></a> </li>
        <!--<li> <a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a> </li>-->
        <!--<li> <a href="widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a> </li>-->
        <!--<li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>-->
        <!--<li><a href="grid.html"><i class="icon icon-fullscreen"></i> <span>Full width</span></a></li>-->
        <!--<li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Forms</span> <span class="label label-important">3</span></a>-->
            <!--<ul>-->
                <!--<li><a href="form-common.html">Basic Form</a></li>-->
                <!--<li><a href="form-validation.html">Form with Validation</a></li>-->
                <!--<li><a href="form-wizard.html">Form with Wizard</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>-->
        <!--<li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Eelements</span></a></li>-->
        <!--<li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span class="label label-important">5</span></a>-->
            <!--<ul>-->
                <!--<li><a href="index2.html">Dashboard2</a></li>-->
                <!--<li><a href="gallery.html">Gallery</a></li>-->
                <!--<li><a href="calendar.html">Calendar</a></li>-->
                <!--<li><a href="invoice.html">Invoice</a></li>-->
                <!--<li><a href="chat.html">Chat option</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>-->
            <!--<ul>-->
                <!--<li><a href="error403.html">Error 403</a></li>-->
                <!--<li><a href="error404.html">Error 404</a></li>-->
                <!--<li><a href="error405.html">Error 405</a></li>-->
                <!--<li><a href="error500.html">Error 500</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="content"> <span>Monthly Bandwidth Transfer</span>-->
            <!--<div class="progress progress-mini progress-danger active progress-striped">-->
                <!--<div style="width: 77%;" class="bar"></div>-->
            <!--</div>-->
            <!--<span class="percent">77%</span>-->
            <!--<div class="stat">21419.94 / 14000 MB</div>-->
        <!--</li>-->
        <!--<li class="content"> <span>Disk Space Usage</span>-->
            <!--<div class="progress progress-mini active progress-striped">-->
                <!--<div style="width: 87%;" class="bar"></div>-->
            <!--</div>-->
            <!--<span class="percent">87%</span>-->
            <!--<div class="stat">604.44 / 4000 MB</div>-->
        <!--</li>-->
    </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header" style="padding-top: 40px;">
        <div id="breadcrumb" style="background-color: #eee"> <a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a></div>
    </div>
    <!--End-breadcrumbs-->

    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>
</div>

<!--end-main-container-part-->

<!--Footer-part-->


<div class="row-fluid">
    <div id="footer" class="span12">
    <strong>Copyright</strong> Validus Risk Management &copy; 2015
    <script>new Date().getFullYear() > 2015 && document.write("- " + new Date().getFullYear());</script>
    </div>
</div>
<!--end-Footer-part-->

<!--<script src="js/excanvas.min.js"></script>-->
<!--<script src="js/jquery.min.js"></script>-->
<!--<script src="js/jquery.ui.custom.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!--<script src="js/jquery.flot.min.js"></script>-->
<!--<script src="js/jquery.flot.resize.min.js"></script>-->
<!--<script src="js/jquery.peity.min.js"></script>-->
<!--<script src="js/fullcalendar.min.js"></script>-->
<!--<script src="js/matrix.js"></script>-->
<!--<script src="js/matrix.dashboard.js"></script>-->
<!--<script src="js/jquery.gritter.min.js"></script>-->
<!--<script src="js/matrix.interface.js"></script>-->
<!--<script src="js/matrix.chat.js"></script>-->
<!--<script src="js/jquery.validate.js"></script>-->
<!--<script src="js/matrix.form_validation.js"></script>-->
<!--<script src="js/jquery.wizard.js"></script>-->
<!--<script src="js/jquery.uniform.js"></script>-->
<!--<script src="js/select2.min.js"></script>-->
<!--<script src="js/matrix.popover.js"></script>-->
<!--<script src="js/jquery.dataTables.min.js"></script>-->
<!--<script src="js/matrix.tables.js"></script>-->

{% block javascript %}

{% endblock %}

</body>
</html>




