{% extends 'base.html' %}

{% block content %}

<div class="center">
    <h1>Registration Complete</h1>

    <p>Thank you for your signing up with Validus. One of our team member will be in touch with you to activate this account.</p>

</div>


{% endblock %}