{% extends 'NewBase.html' %}
{% load filter %}
{% load static %}


{% block scripts %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<script defer src="{% static 'js/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts-more.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>
{% endblock %}


{% block content %}
{% if client.outstanding_report %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"> Outstanding Trades</h2>

            </div>

            <div class="panel-body bg-custom-info p-l-0">
                <div class="d-flex justify-content-between">
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <div class="">
                            <label class="form-label" for="SpotRate_valuationDate_select">
                                Valuation Date
                            </label>

                            <input type="text"
                                id="SpotRate_valuationDate_select"
                                autocomplete="off"
                                class="form-control">
                        </div>
                    </div>

                    <div class="d-flex">

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <blockquote>

                     <div class="row">
                         <div class="col-md-2 col-lg-2 col-xl-2" s>
                              <h3 class="">Summary:</h3>
                           <h4 id="spot_ref"> Spot References:</h4>
                         </div>
                          <div class="col-md-6 col-lg-6 col-xl-6" s>
                          </div>
                         <div class="col-md-4 col-lg-4 col-xl-4" >
                            <span>  <h6> * MTM is a mid-market price including the valuation of deferred premium </h6></span>
                            <span>   <h6>  ** Net MTM is a mid-market price excluding the valuation of deferred premium </h6></span>
                        </div>
                 </div>
                </blockquote>

                <div class="row">
                    <div class="col-md-2 col-lg-2 col-xl-2" style="border-right: 1px solid #e7eaec;">
                        <div class="">
                            <div id="spot-rate-table-analytics" class="ag-theme-balham m-b-4"></div>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-5 col-xl-5">
                        <div class="">
                            <div id="fund-mtm-grid-analytics" class="ag-theme-balham"></div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5 col-xl-4">
                        <div class="">
                            <div id="cp-mtm-grid-analytics" class="ag-theme-balham"></div>
                        </div>
                    </div>
                </div>
                <blockquote>
                     <div class="row">
                         <div class="col-md-2 col-lg-2 col-xl-2" s>
                              <h3 class="">Trade Details:</h3>
                         </div>
                          <div class="col-md-6 col-lg-6 col-xl-6" s>
                          </div>
                         <div class="col-md-4 col-lg-4 col-xl-4" >
                             <label class="form-label">Download Table</label>
                            <button id="downloadSpotData-analytics" class="btn action-button btn-success btn-block btn-outline">
                                <i class="fas fa-download"></i>
                                Download
                            </button>
                        </div>
                 </div>
                </blockquote>

                <div class="row">
                     <div id="trade-grid-analytics" class="ag-theme-balham"></div>
                </div>

        </div>
    </div>
</div>
{% endif %}
{% if client.parents_summary_report %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Parent Summary Report</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                     <div id="parent_summary_grid_analytics" class="ag-theme-balham"></div>
                </div>

        </div>
    </div>
</div>
{% endif %}
<script>
var multiAnalyticsJsParams = {
    "client": "{{ client }}",
    "csrf_token": "{{ csrf_token }}",
    "fetch_valuation_level_options_url": "{% url "fetch_valuation_level_options" %}",
    "ajax_client_fund_mtm": "{% url "ajax_client_fund_mtm" %}",
    "ajax_client_fund_cp_mtm": "{% url "ajax_client_fund_cp_mtm" %}",
    "ajax_client_trade_mtm": "{% url "ajax_client_trade_mtm" %}",
    "multi_spot_ref_url": "{% url "ajax_client_spot_request" %}",
    outstanding_report : ('{{ client.outstanding_report }}' === 'True') ? 1 : 0,
    parents_summary_report : ('{{ client.parents_summary_report }}' === 'True') ? 1 : 0,
    agg_report_lexington:'{% url 'agg_report_lexington' %}',
};
</script>

<script src="{% static 'js/dashboard/aggregate_reports.js' %}"></script>
{% endblock %}