{% extends 'NewBase.html' %}
{% load filter %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<script defer src="{% static 'js/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts-more.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    {% if client.display_mtm_only == False %}
    {% if client.portfolio %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Portfolio analysis</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="fund-percentage-container"></div>
                    </div>
                    <div class="col-lg-6">
                        <div id="fund-hedge-vs-unhedged-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
  {% if client.irr %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">IRR At Risk</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 b-r">
                        <div id="CL_select_analytics" class="shiny-html-output shiny-bound-output">
                            <label class="control-label" for="CL_select_analytics">Confidence Level</label>
                            <select id="CF_select" name="formal" class="form-control">
                                <option value="0.95" style="text-align:left;">95%</option>
                                <option value="0.90" style="text-align:left;">90%</option>
                                <option value="0.85" style="text-align:left;">85%</option>
                            </select>
                        </div>
                        <br>
                        <div>
                            <p>1. Base Case IRR: The IRR the fund expects based on the fund model cashflows
                                provided, in the absence of any FX moves or hedging strategy impacts.</p>
                            <p>2. IRR @ Risk: The worst case downside IRR impact that could be experienced from
                                the date of our analysis until the last expected investment exit date,
                                accounting for possible unfavourable movements in FX spot rates, at a
                                one-tailed 95% confidence level. This metric assumes that no hedging is
                                undertaken.</p>
                            <p>3. Worst Case IRR: This metric is calculated as the Base Case IRR net of the
                                negative Value @ Risk in a worst case scenario as well as the positive impact
                                of the hedging strategy in this scenario. Comparing this to the original Base
                                Case demonstrates the level of protection provided by the hedging strategy.</p>
                        </div>
                    </div>
                    <div class="col-sm-8 b-r">
                        <div id="summary-base-case-risk"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% endif %}
    {% endif %}

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mark-to-Market analysis</h3>
            </div>

            <div class="panel-body bg-custom-info p-l-0">
                <div class="d-flex justify-content-between">
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <div class="">
                            <label class="form-label" for="SpotRate_valuationDate_select">
                                Valuation Date
                            </label>

                            <input type="text"
                                id="SpotRate_valuationDate_select"
                                autocomplete="off"
                                class="form-control">

                        </div>
                    </div>

                    <div class="d-flex">
                        <div>
                            <label class="form-label">Download Table</label>
                            <button id="downloadSpotData-analytics" class="btn action-button btn-success btn-block btn-outline">
                                <i class="fas fa-download"></i>
                                Download
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <blockquote>
                    <h3 class=""><i class="fas fa-chart-line"></i> MTM in Total:</h3>
                    <h4 id="TotalMTM"></h4>
                </blockquote>

                <div class="row">
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <div id="spot-rate-table-analytics" class="ag-theme-balham m-b-4"></div>

                        <!--<p>-->
                            <!--<button id="updateSpotData-analytics" class="btn action-button btn-success btn-block btn-outline">-->
                                <!--<i class="fas fa-calculator"></i>-->
                                <!--Update-->
                            <!--</button>-->
                        <!--</p>-->
                        <!--<p>-->
                            <!--<button id="resetSpotData-analytics" class="btn action-button btn-success btn-block btn-outline">-->
                                <!--<i class="fas fa-redo"></i>-->
                                <!--Reset-->
                            <!--</button>-->
                        <!--</p>-->
                    </div>

                    <div class="col-md-8 col-lg-9 col-xl-10 b-l">
                        <div id="trade-mtm-grid-analytics" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

var analyticsJsParams = {
    "client": "{{ client }}",
    "display_mtm_only": ('{{ client.display_mtm_only }}' === 'True') ? 1 : 0,
    "irr": ('{{ client.irr }}' === 'True') ? 1 : 0,
    "portfolio": ('{{ client.portfolio }}' === 'True') ? 1 : 0,
    "csrf_token": "{{ csrf_token }}",
    "trade_mtm_url": "{% url "api_analytics_mtm_table" %}",
    "spot_ref_url": "{% url "api_analytics_spotrates_table" %}",
    "recalculate_mtm_on_spotref_url": "{% url "recalculate_mtm_on_spotref_url" %}",
    "api_summary_base_case_risk": "{% url "api_summary_base_case_risk" %}",
    "api_moic_base_case_risk": "{% url "api_moic_base_case_risk" %}",
    "api_portfolio_deal_hedge_mtm_chart": "{% url "api_portfolio_deal_hedge_mtm_chart" %}",
    "fund_investment_summary": "{% url "fund_investment_summary" %}",
    "selected_fund":'{{selected_fund}}'
};

</script>

<script src="{% static 'js/dashboard/analytics_dashboard.js' %}"></script>
{% endblock %}