{% extends 'NewBase.html' %}
{% load static %}
{% load filter %}

{% block scripts %}

<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

<script defer src="{% static 'js/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>
<script defer src="{% static 'highcharts-5.0.6/highcharts.js' %}"></script>

<style>
#snoAlertBox{
    position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
    display:none;
}
</style>
{% endblock %}

{% block content %}
<div id="snoAlertBox" data-alert="alert"></div>
<div id="successBox" data-alert="alert"></div>

<div class="row">
    <div class="col-md-12">

        <div class="alert alert-info">
            <h2 class="m-t-0">Cashflow/NAV allocation</h2>

            <p>
                This tab allows users to upload, edit the cashflow and deal valuation.
            </p>
        </div>
        <div id="data_editor_tab" class="tab-pane">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">

                    {% if user.is_active and user.is_staff %}
                     <div class="panel panel-default collapsable">
                        <div class="panel-heading">
                            <h3 class="panel-title">Upload/Download</h3>
                        </div>
                        <div class="panel-body">
                            <!--<div class="pull-right">-->
                                <div class="col-sm-4">
                                      <span class="control-fileupload">
                                        <!--<label for="file1" class="text-left">Please choose a file on your computer.</label>-->
                                        <input type="file" id="file_uploader">
                                      </span>
                                    </div>

                                    <div class="col-sm-2">
                                      <button type="button" id="cashflow_upload" class="btn btn-success btn-block">
                                        <i class="icon-upload icon-white"></i> Upload
                                      </button>
                                    </div>
                                      <div class="col-sm-3">
                                        </div>
                                    <div class="col-sm-3">
                                        <button type="button" id="cashflow_download" class="btn btn-success btn-block">
                                        <i class="icon-upload icon-white"></i> Download the Cashflow Template
                                      </button>
                                     </div>
                        </div>
                     </div>
                    {% endif %}
                    <div class="panel panel-default collapsable">
                        <div class="panel-heading">
                            <h3 class="panel-title">Cashflow</h3>
                        </div>
                        <div class="panel-body">
                            <div id="table-deal" class="ag-theme-balham">
                            </div>
                        </div>

                        <div class="panel-body CRUD-deal">
                            <div class="row viewing">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                <!--<button class="btn new btn-success">Add New</button>-->
                                    </div>
                                </div>
                            </div>

                            <div class="row add-edit hidden">
                                <div class="col-sm-12">
                                    <div class="well">
                                        <form>
                                            <div class="row">
                                                <p class="col-sm-6">
                                                    <label class="form-label">Transaction ID</label>

                                                    <input type="text" name="id" class="id form-control" value="" readOnly/>
                                                </p>
                                                <p class="col-sm-6">
                                                    <label class="form-label">Fund Name</label>
                                                    <select  id="fund_name" class="fund_name form-control" >
                                                                                </select>
                                                    <!--<input type="text" name="deal_name" class="deal_name form-control" value=""/>-->
                                                </p>
                                                 <p class="col-sm-6">
                                                    <label class="form-label">Deal Name</label>
                                                    <select  id="deal_name" class="deal_name form-control" >
                                                                                </select>
                                                    <!--<input type="text" name="deal_name" class="deal_name form-control" value=""/>-->
                                                </p>
                                                <p class="col-sm-6">
                                                    <label class="form-label">Value Date</label>
                                                    <input type="text"  id="value_date" name="value_date" class="value_date form-control" value=""/>
                                                </p>
                                                <p class="col-sm-6">
                                                    <label class="form-label">Cashflow Type</label>

                                                    <input type="text" name="cf_type" class="cf_type form-control" value=""/>
                                                </p>
                                                <p class="col-sm-6">
                                                    <label class="form-label">Cashflows</label>

                                                    <input type="number"   oninput="this.value = Math.abs(this.value)" step="any" name="cashflows" class="cashflows form-control" value=""/>
                                                </p>
                                                <p class="col-sm-6">
                                                    <label class="form-label">FX Rate</label>

                                                    <input type="number"  oninput="this.value = Math.abs(this.value)" step="any" name="fx_rate" class="fx_rate form-control" value=""/>
                                                </p>
                                                <p class="col-sm-6">
                                                    <label class="form-label">Reset Rate</label>

                                                    <input type="number" oninput="this.value = Math.abs(this.value)" step="any" name="reset_rate" class="reset_rate form-control" value=""/>
                                                </p>

                                                <p class="col-sm-6">
                                                    <label class="form-label">Cancellation (0/1)</label>

                                                    <input type="number" min="0"  max="1"  step="1" name="cancellation" class="cancellation form-control" value=""/>
                                                </p>
                                            </div>
                                            {% if user.is_active and user.is_staff %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="pull-right">
                                                        <button type="button" class="btn cancel">Cancel</button>
                                                        <button type="submit" class="btn btn-success submit">Save / Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                           {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-default collapsable">
                        <div class="panel-heading">
                            <h3 class="panel-title">Deal Valuations(NAV)</h3>
                        </div>

                        <div class="panel-body">
                            <div id="table-entity" class="ag-theme-balham"></div>
                        </div>

                        <div class="panel-body CRUD-entity">
                            <div class="row viewing">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <!--<button class="btn new btn-success">Add New</button>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row add-edit hidden">
                                <div class="col-sm-12">
                                    <div class="well">
                                        <form>
                                            <div class="row">
                                                <p class="col-sm-6">
                                                    <label class="form-label">ID</label>

                                                    <input type="text" name="id" class="id form-control" value="" readOnly/>
                                                </p>
                                                <p class="col-sm-6">
                                                    <label class="form-label">Fund Name</label>
                                                    <select  id="dv_fund_name" class="dv_fund_name form-control" >
                                                                                </select>
                                                    <!--<input type="text" name="deal_name" class="deal_name form-control" value=""/>-->
                                                </p>
                                                 <p class="col-sm-6">
                                                    <label class="form-label">Deal Name</label>
                                                    <select  id="dv_deal_name" class="dv_deal_name form-control" >
                                                                                </select>
                                                    <!--<input type="text" name="deal_name" class="deal_name form-control" value=""/>-->
                                                </p>
                                                 <p class="col-sm-6">
                                                    <label class="form-label">Valuation Date</label>
                                                    <input type="text"  id="valuation_date" name="valuation_date" class="valuation_date form-control" value=""/>
                                                </p>
                                                 <p class="col-sm-6">
                                                    <label class="form-label">Unrealised Value</label>

                                                    <input type="number"   oninput="this.value = Math.abs(this.value)" step="any" name="unrealised_value" class="unrealised_value form-control" value=""/>
                                                </p>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="pull-right">
                                                        <button type="button" class="btn cancel">Cancel</button>
                                                        <button type="submit" class="btn btn-success submit">Save / Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
{% endblock %}
{% block deferred_scripts %}
<script>
var dealsHedgesEditorJsParams = {
        "client": "{{ client }}",
        "label": "{{ label }}",
        "csrf_token": "{{ csrf_token }}",
        "fund": "{{ fund }}",
        "selected_fund": "{{selected_fund}}",
        "ajax_client_cashflow": "{% url "ajax_client_cashflow" %}",
        "ajax_client_dealvaluation": "{% url "ajax_client_dealvaluation" %}",
        "ajax_download_deal_booking_template": "{% url "ajax_download_deal_booking_template" %}",
        "ajax_upload_deal_booking_template": "{% url "ajax_upload_deal_booking_template" %}",
        "download_file_data_url" : "{% url "download_booking_template" %}"
    };
</script>



{% if request.user.is_active and request.user.is_staff %}
<script defer src="{% static 'js/dashboard/data_editor/cost_creater.js' %}"></script>
{% endif %}
{% endblock %}