{% extends 'NewBase.html' %}
{% load static %}
{% load filter %}

{% block scripts %}
<style>
    .ag-header-cell {
    font-weight: bold;
    font-size: 12px;
    background-color: #c1c1c1;
    }
    .ag-header-cell-label .ag-header-cell-text {
       text-align: center;
       text-overflow: clip;
       overflow: visible;
       overflow-wrap: break-word;
       white-space: normal !important;
   }
   .ag-theme-bootstrap .ag-header-cell, .ag-theme-bootstrap .ag-header-group-cell {
    line-height: 15px;
    }
        .tabs-container .panel-body {
        background: #fff;
        border: 1px solid #e7eaec;
        border-radius: 2px;
        padding: 20px;
        position: relative;
    }
        .tabs-container .nav-tabs > li.active > a,
        .tabs-container .nav-tabs > li.active > a:hover,
        .tabs-container .nav-tabs > li.active > a:focus {
        border: 1px solid #e7eaec;
        border-bottom-color: transparent;
        background-color: #fff;
    }
        .tabs-container .tab-pane .panel-body {
        border-top: none;
    }

    .ag-row-selected {
        border-color: #b7e4ff;
        background-color: #b7e4ff;
    }

</style>


{% endblock %}

{% block content %}
<div class="tabs-container">
    <ul class="nav nav-tabs">
        {% if "Fund Editor" in content_tab_list %}
        <li class=""><a data-toggle="tab" href="#fund-editor-tab" aria-expanded="true">Fund Editor</a></li>
        {% endif %}
        {% if "Deal Editor" in content_tab_list %}
        <li class=""><a data-toggle="tab" href="#deal-editor-tab" aria-expanded="true">Deal Editor</a></li>
        {% endif %}
        {% if "Deal Document Editor" in content_tab_list %}
        <li class=""><a data-toggle="tab" href="#deal-editor-document-tab" aria-expanded="true">Deal Editor</a></li>
        {% endif %}
        {% if "Deal-Hedge Editor" in content_tab_list %}
        <li class=""><a data-toggle="tab" href="#deal-hedge-editor-tab" aria-expanded="true">Deal-Hedge Editor</a></li>
        {% endif %}
        {% if "Cashflows Editor" in content_tab_list %}
        <li class=""><a data-toggle="tab" href="#cashflow-editor-tab" aria-expanded="true">Cashflows Editor</a></li>
        {% endif %}
        {% if "Counterparty Editor" in content_tab_list %}
        <li class=""><a data-toggle="tab" href="#counterparty-editor-tab" aria-expanded="true">Counterparty Editor</a></li>
        {% endif %}
    </ul>
    <div class="tab-content ">
        {% if "Fund Editor" in content_tab_list %}
        <div id="fund-editor-tab" class="tab-pane">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        {% autoescape off %}
                        {% tab_validation permission_list "fund_editor" user as condition %}
                        {% endautoescape %}
                        {% if condition %}
                        <div>
                            <button type="button" id="addFunds" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-plus-circle"></i>&nbsp;Add</button>
                        </div>
                        <!--div>
                            <button type="button" id="deleteRowFunds" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button>
                        </div-->
                        <div>
                            <button type="button" id="saveFunds" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                        </div>
                        <div>
                            <button type="button" id="resetFunds" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                        </div>
                        {% else %}
                        <div class='alert alert-info'> Please contact Validus to add / modify / delete a fund.</div>
                        {% endif %}

                        <div>
                            <pre id="selectedFunds" class="shiny-text-output noplaceholder shiny-bound-output">Selected Row:</pre>
                        </div>
                        <div>
                            <div id="commentFunds" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                        <div>
                            <div id="warningTextFunds" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="fundsGrid" class="ag-theme-bootstrap"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if "Deal Editor" in content_tab_list %}
        <div id="deal-editor-tab" class="tab-pane">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        {% autoescape off %}
                        {% tab_validation permission_list "deal_editor" user as condition %}
                        {% endautoescape %}
                        {% if condition %}
                        <div>
                            <button type="button" id="addDeals" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-plus-circle"></i>&nbsp;Add</button>
                        </div>
                        <!--div>
                                    <button type="button" id="deleteRowDeals" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button>
                                </div-->
                        <div>
                            <button type="button" id="saveDeals" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                        </div>
                        <div>
                            <button type="button" id="resetDeals" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                        </div>
                        {% else %}
                        <div class='alert alert-info'> Please contact Validus to add / modify / delete a deal.</div>
                        {% endif %}
                        <div>
                            <pre id="selectedDeals" class="shiny-text-output noplaceholder shiny-bound-output">Selected Row:</pre>
                        </div>
                        <div>
                            <div id="commentDeals" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                        <div>
                            <div id="warningTextDeals" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="dealsGrid" class="ag-theme-bootstrap"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if "Deal Document Editor" in content_tab_list %}
        <div id="deal-editor-document-tab" class="tab-pane">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        {% autoescape off %}
                        {% tab_validation permission_list "deal_document_editor" user as condition %}
                        {% endautoescape %}
                        {% if condition %}
                        <div>
                            <button type="button" id="addDealsDoc" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-plus-circle"></i>&nbsp;Add</button>
                        </div>
                        <div>
                            <button type="button" id="deleteRowDealsDoc" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button>
                        </div>
                        <div>
                            <button type="button" id="saveDealsDoc" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                        </div>
                        <div>
                            <button type="button" id="resetDealsDoc" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                        </div>
                        {% else %}
                        <div class='alert alert-info'> Please contact Validus to add / modify / delete a deal.</div>
                        {% endif %}
                        <div>
                            <pre id="selectedDealsDoc" class="shiny-text-output noplaceholder shiny-bound-output">Selected Row:</pre>
                        </div>
                        <div>
                            <div id="commentDealsDoc" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="cashflowgrid" class="ag-theme-bootstrap"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="backwardcashflowgrid" class="ag-theme-bootstrap"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="forwardcashflowgrid" class="ag-theme-bootstrap"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="documentcashflowgrid" class="ag-theme-bootstrap"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}
        {% if "Deal-Hedge Editor" in content_tab_list %}
        <div id="deal-hedge-editor-tab" class="tab-pane">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        {% autoescape off %}
                        {% tab_validation permission_list "deal_hedge_editor" user as condition %}
                        {% endautoescape %}
                        {% if condition %}
                        <div>
                            <button type="button" id="addDealHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-plus-circle"></i>&nbsp;Assign New Deal</button>
                        </div>
                        <div>
                            <!--button type="button" id="deleteRowDealHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button-->
                        </div>
                        <div>
                            <button type="button" id="saveDealHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                        </div>
                        <div>
                            <button type="button" id="resetDealHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                        </div>
                        {% else %}
                        <div class='alert alert-info'> Please contact Validus to add / modify / delete a deal-hedge relation.</div>
                        {% endif %}
                        <div>
                            <pre id="selectedHedges" class="shiny-text-output noplaceholder shiny-bound-output">Selected Row:</pre>
                        </div>
                        <div>
                            <div id="warningTextDealHedge" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                        <div>
                            <div id="commentDealHedge" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-8">
                                <div style="font-size: 75%">
                                    <div id="selectHedgesTable" style="width:100%; height:auto; " class="datatables html-widget html-widget-output shiny-bound-output"></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div id="inputDealHedgeTable" style="width:100%; height:100%; " class="rhandsontable html-widget html-widget-output shiny-bound-output"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if "Cashflows Editor" in content_tab_list %}
        <div id="cashflow-editor-tab" class="tab-pane">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        {% autoescape off %}
                        {% tab_validation permission_list "cashflows_editor" user as condition %}
                        {% endautoescape %}
                        {% if condition %}
                        <div>
                            <button type="button" id="addCashflows" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"> <i class="fas fa-plus-circle"></i>&nbsp;Add New CFs</button>
                        </div>
                        <div>
                            <button type="button" id="deleteRowCashflows" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button>
                        </div>
                        <div>
                            <button type="button" id="saveCashflows" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                        </div>
                        <div>
                            <button type="button" id="resetCashflows" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                             style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                        </div>
                        {% else %}
                        <div class='alert alert-info'> Please contact Validus to add / modify / delete a cashflow.</div>
                        {% endif %}
                        <p>Select Deal</p>
                        <div>
                            <div id="selectDeal" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                        <div>
                            <pre id="selectedCashflows" class="shiny-text-output noplaceholder shiny-bound-output"></pre>
                        </div>
                        <div>
                            <div id="commentCashflows" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <div class="row">
                            <div id="warningTextCashflows" class="shiny-html-output shiny-bound-output"></div>
                            <div id="inputCashflows" style="width:100%; height:100%; " class="rhandsontable html-widget html-widget-output shiny-bound-output"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if "Counterparty Editor" in content_tab_list %}
        <div id="counterparty-editor-tab" class="tab-pane">
            <div class="panel-body">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="alert alert-info"> Please contact Validus to add / modify / delete a counterparty.</div>
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div id="inputCounterparty" style="width:100%; height:100%; " class="rhandsontable html-widget html-widget-output shiny-bound-output"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
    var fundsEditorJsParams = {
        "client": "{{ client }}",
        "label": "{{ label }}",
        "csrf_token": "{{ csrf_token }}",
        "fetch_funds_data": "{% url "fetch_funds_data" %}"
    };

    var dealsEditorJsParams = {
        "client": "{{ client }}",
        "label": "{{ label }}",
        "csrf_token": "{{ csrf_token }}",
        "fund": "{{ fund }}",
        "fetch_deals_data_url": "{% url "fetch_deals_data" %}"
    };

    var dealsDocumentEditorJsParams = {
        "client": "{{ client }}",
        "label": "{{ label }}",
        "csrf_token": "{{ csrf_token }}",
        "fund": "{{ fund }}",
        "fetch_deals_data_url": "{% url "fetch_deals_data" %}"
    };

    var dealsHedgesEditorJsParams = {
        "client": "{{ client }}",
        "label": "{{ label }}",
        "csrf_token": "{{ csrf_token }}",
        "fund": "{{ fund }}",
        "fetch_deal_hedge_data_url": "{% url "fetch_deal_hedge_data" %}",
        "api_database_hedge_data_table_url": "{% url "api-database-hedge-data-table" %}"
};

    var cashflowsSpecificTabDataEditorDashboardJsParams = {
        "client": "{{ client }}",
        "csrf_token": "{{ csrf_token }}",
        "cashflow_specific_tables_url": "{% url "cashflow_specific_tables" %}"
    };
</script>

{% if "Fund Editor" in content_tab_list %}
<script src="{% static 'js/dashboard/data_editor/funds_editor.js' %}"></script>
{% endif %}
{% if "Deal Editor" in content_tab_list %}
<script src="{% static 'js/dashboard/data_editor/deals_editor.js' %}"></script>
{% endif %}
{% if "Deal Document Editor" in content_tab_list %}
<script src="{% static 'js/dashboard/data_editor/deals_document_editor.js' %}"></script>
{% endif %}
{% if "Deal-Hedge Editor" in content_tab_list %}
<script src="{% static 'js/dashboard/data_editor/deal_hedge_editor.js' %}"></script>
{% endif %}

{% endblock %}