{% extends 'NewBase.html' %}
{%load filter%}
{%load static%}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<script defer src="{% static 'js/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>
<link href="{% static 'node_modules/bootstrap-select/dist/css/bootstrap-select.css' %}">
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Forecast</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                         <div id="container" ></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
(function () {
    // Couldn't find if this is actually used.
    $('#market').addClass('active');
    var countDecimals = function (value) {
        if(Math.floor(value) === value) return 0;
         if (value.toString().split(".").length == 1) return 1;
        return value.toString().split(".")[1].length || 0;
    };
    var myGrid;
    var columnDefs;
    var rowData;
    var gridOptions = null;
    var mtmgridOptions = null;




    function setup_forecast(data) {
     Highcharts.chart('container', {
                  chart: {
                  width:900,
                height: 600 // 16:9 ratio
            },
            title: {
                text: 'Year 2019'
            },
            xAxis: {
                categories: ['Jan-19','Feb-19','Mar-19','Apr-19','May-19','Jun-19','Jul-19','Aug-19','Sep-19','Oct-19','Nov-19','Dec-19']
            },
            plotOptions: {
                series: {

                }
            },
              credits: {
                enabled: false
            },
             yAxis: {
                title: {
                    enabled: true,
                    text: '<b><i>in millions</i<</b>',
                    style: {
                        fontWeight: 'normal'
                    }
                }
            },
                series: [{
                type: 'areaspline',
                name: 'Booking to date',
                data: [97742.84,135883.94,204313.33,622038.20,404247.29,281007.22,319831.25,483750.06,297303.84,284375.57,84485.42,9454.16],
                color: '#6600cc',
                 fillColor: {
                        linearGradient: [10, 0, 0, 0],
                        stops: [
                            [0, Highcharts.Color('#6600cc').setOpacity(1.0).get('rgba')],
                            [1, Highcharts.Color('#6600cc').setOpacity(0.0).get('rgba')]
                        ]
                    }


            }, {
                type: 'column',
                name: 'Forward',
                data: [100000.00,150000.00,250000.00,600000.00,400000.00,400000.00,300000.00,500000.00,300000.00,300000.00,100000.00],
                color:'#99cc00',
            },  {
                type: 'spline',
                name: 'Expected Requirement',
                data: [ 2750000.00,3000000.00,	3088330.66,	5450978.35,	6192494.44,	7214107.16,	8179739.66,	8485807.84,	6245540.44	,4368851.55	,2572438.05	,1980334.91],
               color: 'black',
            }, ]
        });
    }



function fetch_forecast_data(fund_selection=false) {


            $.ajax({
                type: 'POST',
                url: "{% url 'api_forecast_data' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'counterparty': $('input[name=optradio]:checked', '#mainForm').val(),
                    'client': '{{client.name}}',
                    'fund': $('#fund-select').val()
                },
                success: function (data) {
                setup_forecast(data);
                }
            });

    }

    $(document).ready(function () {

        fetch_forecast_data();
    });
    $('#fund-select').prop('disabled', true);
})();
</script>

{% endblock %}