{% extends 'NewBase.html' %}
{% load filter %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<script defer src="{% static 'js/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts-more.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Analysis</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 b-r">
                        <p>
                            <label class="control-label" for="fund_analytics_option">Choose the Analysis method</label>
                            <select id="fund_analytics_option" class="form-control"></select>
                        </p>

                        <div id="level_data_para"></div>
                    </div>

                    <div class="col-sm-8">
                        <select id="fund_analysis_level_select" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" id="investor_display">
    {% if client.investor  %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="investor_content"></h3>
            </div>

            <div class="panel-body">
                <div class="row ">
                    <div class="pull-right">
                        <form class="form-inline">
                            <div>
                                 <label>Overall </label>
                                <input type="checkbox" id ="overall" value="">
                                &nbsp;
                                <label class="control-label" for="month_select">Select Month</label>
                                <select id="month_select" class="form-control">
                                </select>
                                &nbsp;
                                <label class="control-label" for="year_select">Select Year</label>
                                <select id="year_select" class="form-control">
                                </select>

                             </div>
                        </form>
                    </div>
                </div>
                 <div class="row">
                 </div>
                <div class="row">
                    <div id="investorGridOptions_table" class="ag-theme-balham"></div>
                </div>
                <div class="row">
                    <div id="investoranalysis"></div>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% if client.portfolio %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Portfolio analysis</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="fund-percentage-container"></div>
                    </div>
                    <div class="col-lg-6">
                        <div id="fund-hedge-vs-unhedged-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
 {% if client.irr %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">IRR At Risk</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 b-r">
                        <p>
                            <label class="control-label" for="CF_select">Confidence Level</label>
                            <select id="CF_select" class="form-control">
                                <option value="0.95">95%</option>
                                <option value="0.90">90%</option>
                                <option value="0.85">85%</option>
                            </select>
                        </p>

                        <p>1. Base Case IRR: The IRR the fund expects based on the fund model cashflows provided, in the absence of any FX moves or hedging strategy impacts.</p>
                        <p>2. IRR @ Risk: The worst case downside IRR impact that could be experienced from the date of our analysis until the last expected investment exit date, accounting for possible unfavourable movements in FX spot rates, at a one-tailed 95% confidence level. This metric assumes that no hedging is undertaken.</p>
                        <p>3. Worst Case IRR: This metric is calculated as the Base Case IRR net of the negative Value @ Risk in a worst case scenario as well as the positive impact of the hedging strategy in this scenario.  Comparing this to the original Base Case demonstrates the level of protection provided by the hedging strategy.</p>
                    </div>

                    <div class="col-sm-8">
                        <div id="summary-base-case-risk"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if client.moic  %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Moic</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 b-r">
                        <p>
                            <label class="control-label" for="moic_select">Confidence Level</label>
                            <select id="moic_select" class="form-control">
                                <option value="0.95">95%</option>
                                <option value="0.90">90%</option>
                                <option value="0.85">85%</option>
                            </select>
                        </p>

                        <p>1. Base Case MOIC: The MOIC the fund expects based on the fund model cashflows provided, in the absence of any FX moves or hedging strategy impacts.</p>
                        <p>2. MOIC @ Risk: The worst case downside MOIC impact that could be experienced from the date of our analysis until the last expected investment exit date, accounting for possible unfavourable movements in FX spot rates, at a one-tailed 95% confidence level. This metric assumes that no hedging is undertaken.</p>
                        <p>3. Worst Case MOIC: This metric is calculated as the Base Case MOIC net of the negative Value @ Risk in a worst case scenario as well as the positive impact of the hedging strategy in this scenario.  Comparing this to the original Base Case demonstrates the level of protection provided by the hedging strategy.</p>
                    </div>

                    <div class="col-sm-8">
                        <div id="moic-base-case-risk"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mark-to-Market analysis</h3>
            </div>

            <div class="panel-body bg-custom-info p-l-0">
                <div class="d-flex justify-content-between">
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <div class="">
                            <label class="form-label" for="SpotRate_valuationDate_select">
                                Valuation Date
                            </label>

                            <input type="text"
                                id="SpotRate_valuationDate_select"
                                autocomplete="off"
                                class="form-control">
                        </div>
                    </div>

                    <div class="d-flex">
                        <div>
                            <label class="form-label">Download Table</label>
                            <button id="downloadSpotData-analytics" class="btn action-button btn-success btn-block btn-outline">
                                <i class="fas fa-download"></i>
                                Download
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <blockquote>
                    <h3 class=""><i class="fas fa-chart-line"></i> MTM in Total:</h3>
                    <h4 id="TotalMTM"></h4>
                </blockquote>

                <div class="row">
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <div id="spot-rate-table-analytics" class="ag-theme-balham m-b-4"></div>
                        {% if client.name == "Validus Demo"  or client.name == "HG Capital" %}
                        <p>
                            <button id="updateSpotData-analytics" class="btn action-button btn-success btn-block btn-outline">
                                <i class="fas fa-calculator"></i>
                                Update
                            </button>
                        </p>
                        <p>
                            <button id="resetSpotData-analytics" class="btn action-button btn-success btn-block btn-outline">
                                <i class="fas fa-redo"></i>
                                Reset
                            </button>
                        </p>
                        {% endif %}
                    </div>

                    <div class="col-md-8 col-lg-9 col-xl-10 b-l">
                        <div id = "trade-mtm-grid-analytics" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block deferred_scripts %}
<script>
var fundLevelAnalyticsJsParams = {
     "client": "{{ client }}",
     "csrf_token": "{{ csrf_token }}",
     "selected_fund":"{{selected_fund}}",
     "investor":('{{ client.investor }}' === 'True') ? 1 : 0,
     "moic": ('{{ client.moic }}' === 'True') ? 1 : 0,
     "irr": ('{{ client.irr }}' === 'True') ? 1 : 0,
     "portfolio": ('{{ client.portfolio }}' === 'True') ? 1 : 0,
     "fetch_hedge_valuation_level_options": "{% url "fetch_hedge_valuation_level_options" %}",
     "fundlevel_analytics_mtm_table_url": "{% url "fundlevel_analytics_mtm_table" %}",
     "fundlevel_spot_ref_url": "{% url "fundlevel_analytics_spotrates_table" %}",
     "recalculate_mtm_on_spotref_url": "{% url "fundlevel_recalculate_analytics_mtm_table" %}",
     "fundlevel_summary_base_case_risk": "{% url "fundlevel_summary_base_case_risk" %}",
     "fundlevel_moic_base_case_risk": "{% url "fundlevel_moic_base_case_risk" %}",
     "fundlevel_portfolio_mtm_chart_chart": "{% url "fundlevel_portfolio_mtm_chart" %}",
     "fundlevel_investment_summary": "{% url "fundlevel_investment_summary" %}",
     "fundlevel_investor_summary_analysis": "{% url "fundlevel_investor_summary_analysis" %}"
};
</script>

<script defer src="{% static 'js/dashboard/fundlevel_analytics_dashboard.js' %}"></script>
{% endblock %}


