{% extends 'NewBase.html' %}
{% load filter %}
{% load static %}

{% block scripts %}

<script defer src="{% static 'highcharts-5.0.6/highcharts.js' %}"></script>
<!--<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>-->
<!--<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>-->
<!--<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>-->
<!--<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>-->
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10">
        {% autoescape off %}
        {% tab_validation permission_list "partial_lar_summary" user as condition %}
        {% endautoescape %}

        {% if condition %}
        {% else %}
        <div class="row">
            {% if client.hedging_multilevel_view or client.hedging_view %}
            <div class="col-md-6">
                <div class="panel panel-default panel-kpi-coh kpi">
                    <div class="panel-heading">

                        {% if client.hedging_multilevel_view %}
                        <div>
                            <select class="form-control" id="hedging_data">
                            </select>
                        </div>

                        <div>
                            <select class="form-control badge-dropdown" id="bps_data"id="bps_dropdown">
                                <option value="abps"> Annualised bps </option>
                                <option value="mbps">Monthly bps </option>
                            </select>
                        </div>
                        {% else %}
                        <span class="label label-success pull-right">Annualised bps</span>
                        <h3 class="panel-title">Cost of Hedging</h3>

                        {% endif %}
                    </div>

                    <div class="panel-body">
                        <h2 class="no-margins" id="hedge-h2">
                            <i id="hedge-value_italic"></i><span id="hedge-value"></span>
                        </h2>
                        <small>“-” means negative impact and “+” means positive impact on IRR</small>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if client.lar_multilevel_view or client.lar_view %}
            <div class="col-md-6">
                <div class="panel panel-default panel-kpi-lar kpi">
                    <div class="panel-heading">
                        <div>
                            <h3 class="panel-title" id="lar-label">&nbsp;</h3>
                        </div>
                        {% if client.lar_multilevel_view %}
                        <div>
                            <select class="form-control badge-dropdown" id="lar_dropdown"></select>
                        </div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <h2 class="no-margins text-danger" id="lar-value"></h2>
                        <small>Million</small>
                    </div>
                </div>
            </div>
             {% endif %}
        </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <!-- <div class="ibox float-e-margins"> -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hedge Liquidity</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% autoescape off %}
                            {% tab_validation permission_list "partial_lar_summary" user as condition %}
                            {% endautoescape %}
                            {% if condition %}
                            <div class="col-sm-12">
                                <div id="container"></div>
                            </div>
                            {% else %}
                            <div class="col-sm-4 b-r">
                                <p>We use probability analysis to simulate possible future mark-to-market amounts for
                                    the current portfolio of hedging instruments (from the present date to the
                                    portfolio's farthest expiry), and present here the observed worst case (ie: the
                                    greatest liquidity requirement) at a given confidence level.</p>
                                <div id="myGrid" class="ag-theme-balham"></div>
                            </div>
                            <div class="col-sm-8">
                                <div id="container"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if client.hedge_settlement_summary %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hedge Summary</h3>
                    </div>
                    <div class="panel-body">
                        <div id="hedge-summary" class="ag-theme-blue"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Settlement Summary</h3>
                    </div>
                    <div class="panel-body">
                        {% if client.lar_multilevel_view %}
                         <div class="row">
                            <div class="col-md-4">
                                <select class="form-control" id="settlement_dropdown"></select>
                            </div>
                        </div>
                        {% endif %}
                        <div id="settlement-summary" class="ag-theme-blue"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Trade MTM Summary</h3>
                    </div>
                    <div class="panel-body p-b-0">
                        <div class="row">
                            <div class="pull-right col-sm-3">
                                <input type="text" class="form-control" id="filter-text-box" placeholder="Filter..." />
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                         {% if client.trade_summary_options %}
                        <div class="row">
                             <div class="col-md-4">
                                <select class="form-control" id="trade_summary_options">
                                 </select>
                             </div>
                        </div>
                         {% endif %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="trade-mtm-grid" class="ag-theme-balham"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Next Expiry Date</h3>
            </div>
            <!-- <div class="alert alert-danger"> -->
            <div class="panel-body">
                <div id="SummaryNextDate" class="shiny-html-output shiny-bound-output"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Spot Reference</h3>
            </div>
            <div class="panel-body">
                <div id="SummarySpot" class="shiny-html-output shiny-bound-output">
                    <div>
                        <div id="spot-ref">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block deferred_scripts %}

<style>
    .ag-header-cell,  .ag-header-group-cell {
        text-align: center;
        display: inline-block;
        line-height: 15px;
    }

    .header-cell {
        background-color: #a6e1ec;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .quarters-cell {
        background-color: #5bc0de;
        font-weight: bold;
        font-size: 12px;
    }
</style>

<script>
    var showThreshold = true;
    {% autoescape off %}
    {% tab_validation permission_list "hide_threshold_lar_mtm_chart" user as condition %}
    {% endautoescape %}
    {% if condition %}
    showThreshold = false;
    {% endif %}


    $(function() {
        // MyGrid declarations
        var myGrid;
        var gridOptions = null;
        var cellClassRules = {
            'header-cell': 'data.section === "big-title"',
            'quarters-cell': 'data.section === "quarters"',

        };
        function numberToColor(val) {
            if (val>100) {
                return '#CD5C5C';
            } else if (val >= 80) {
                return '#ffae42';
            } else {
                return '#aaffaa';
            }
         }
        var cellCurrentClassRules = {
            'current-cell': 'data.section === "quarters"',

        };

        var countDecimals = function (value) {
            if (Math.floor(value) === value) return 0;
            if (value.toString().split(".").length == 1) return 1;
            return value.toString().split(".")[1].length || 0;
        };
        var eGridDiv = document.querySelector('#myGrid');
        var current_currency;
        {% for item in fund %}

        if ($('#fund-select').val() == '{{ item.fund }}') {
            console.log('{{ item.fund_currency }}');
            current_currency = '{{ item.fund_currency }}';

        }
        {% endfor %}
        // Hedge Summary Grid declarations
        var hsGridOptions = null;
        var thsGridOptions = null;
        // Trade Grid declarations
        var tmGridOptions = null;
        var settlementSGridOptions = null;
        var select_hedging_list =null;
        var value_hedging_list =null;
        var lar_list = null;
        var trade_summary_option_list = null;

        function get_settlement_summary(selectedFund_overall=0){
            if (selectedFund_overall){
                selectedFund_overall = $("#settlement_dropdown").val();
            }
            $.ajax({
                    type: 'POST',
                    url: "{% url 'api_settlement_summary' %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'client': '{{ client.name }}',
                        'fund': $('#fund-select').val(),
                        'selectedFund_overall':selectedFund_overall
                    },
                    success: function (HedgeData) {
                        showSettlementSummary(HedgeData);
                    },
                });
        }

        function get_trade_summary_view(){
            var selectedFund = $('#fund-select').val();
            var trade_option = 0;
            {% if client.trade_summary_options %}
                trade_option = $("#trade_summary_options").val();
            {% endif %}
            // Trade Data Fetch
            $.ajax({
                type: 'POST',
                url: "{% url 'api-trade-mtm' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client.name }}',
                    'fund': selectedFund,
                    'include_expired_counterparties': clientConfig.include_expired_counterparties,
                    'trade_summary_options': trade_option
                },
                success: function (tradeData) {
                    show_data(tradeData);
                    if (tradeData.data.length > 0) {
                        $('#SummaryNextDate').text(tradeData.next_date);
                    }
                    else {
                        $('#SummaryNextDate').text('');
                    }
                    if (tradeData.mtm_sum != null) {
                        mtm_sum = tradeData.mtm_sum;
                        // <!--Use this when you need to add multiple counterparties-->
                        chart.xAxis[0].update({ categories: tradeData.counterparties });
                        var len = chart.series.length;
                        chart.series[len - 2].setData(tradeData.individual_mtm);
                        chart.series[len - 1].setData(tradeData.total_lar);
                        if (tradeData.threshold.length > 0) {
                            var checknotnull = false;
                            for (let [key, value] of Object.entries(tradeData.threshold)) {
                                if (value != null) {
                                    checknotnull = true;
                                }

                            }
                            if (checknotnull) {
                                var item = chart.series[0];
                                item.options.showInLegend = true;
                                chart.legend.renderItem(item);
                                chart.legend.render();
                                chart.series[0].setData(tradeData.threshold);
                            }
                        } else {
                            if (len == 3) {
                                chart.series[len - 3].remove()
                            }
                        }
                    } else {
                        for (var i = 0; i < chart.series.length; i++) {
                            chart.series[i].setData([]);
                        }


                    }
                },
            });
        }

        function fetch_data() {
            var selectedFund = $('#fund-select').val();

            // Liquidity Data Fetch
            // When switched over to a modern framework we should retrieve data
            // in a more efficient way like Promise.all
            $.ajax({
                type: 'POST',
                url: "{% url 'liquidity-at-risk' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client.name }}',
                    'label': '{{ label }}',
                    'fund': selectedFund
                },
                success: function (larData) {
                    // Aggregate declarations
                    var mtm_sum;
                    var total_lar;


                    {% for item in fund %}

                    if ($('#fund-select').val() == '{{ item.fund }}') {
                        current_currency = '{{ item.fund_currency }}';
                    }
                    {% endfor %}
                    trade_summary_option_list = larData.summary_list_option;
                    change_mtm_trade_options(true);
                 {% if client.lar_multilevel_view and client.hedging_multilevel_view %}
                    select_hedging_list = larData.select_hedging_list;
                    value_hedging_list = larData.value_hedging_list;
                    lar_list = larData.lar_list;
                    change_lar_hedge(true);
                {% else %}


                    $('#lar-label').text('Liquidity at Risk ' + larData.confidence_level + ' CL');
                    $('#lar-value').text(current_currency + ' ' + larData.total_lar);
                    if (document.getElementById('hedge-h2') != null) {
                        if (larData.hedge_cost > 0) {
                            $('#hedge-h2').removeClass('text-primary');
                            $('#hedge-h2').removeClass('text-danger');
                            $('#hedge-h2').addClass('text-navy');
                            document.getElementById('hedge-value_italic').className = "fas fa-play fa-rotate-270"
                        }
                        else if (larData.hedge_cost == 0) {
                            $('#hedge-h2').addClass('text-primary');
                            $('#hedge-h2').removeClass('text-danger');
                            $('#hedge-h2').removeClass('text-navy');
                            document.getElementById('hedge-value_italic').className = "fas fa-play fa-rotate-0"
                        }
                        else {
                            $('#hedge-h2').removeClass('text-primary');
                            $('#hedge-h2').addClass('text-danger');
                            $('#hedge-h2').removeClass('text-navy');
                            document.getElementById('hedge-value_italic').className = "fas fa-play fa-rotate-90"
                        }
                        $('#hedge-value').text(Math.round(larData.hedge_cost, 1));
                    }
                {% endif %}
                    {% autoescape off %}
                    {% tab_validation permission_list "hide_threshold_lar_mtm_chart" user as condition %}
                    {% endautoescape %}
                    {% if not condition %}
                    counterparty_data(larData);
                    {% endif %}
                    total_lar = larData.total;

                    // Generate myGrid text and modify the DOM
                    var updateDiv = document.getElementById('updateDiv');
                    if (updateDiv != null) {
                        var newParagraph = document.createElement('p');
                        newParagraph.textContent = larData.margin_txt;
                        updateDiv.innerHTML = "";
                        updateDiv.appendChild(newParagraph);
                    }

                    get_spot();
                    {% if client.hedge_settlement_summary %}
                    // Trade Data Fetch
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'api_hedge_summary' %}",
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'client': '{{ client.name }}',
                            'fund': selectedFund
                        },
                        success: function (HedgeData) {
                            showHedgeSummary(HedgeData);
                        },
                    });
                    get_settlement_summary();
                    {% endif %}
                    get_trade_summary_view();
                }
            });
        };

        // <!--Some Additional parameters and functions for ag-grid features-->

        // <!--converting cell value to two decimal places-->
        function toFormatTwo(params) {
            if (params.value === undefined|| params.value == null) {
                return '';
            }
            return params.value.toFixed(2);
        }


        // <!--converting cell value to two decimal places-->
        function toFormatFour(params) {
            return params.value.toFixed(4);
        }

        // <!--converting cell value to two decimal places-->
        function commaFormat(params) {
            if (params.value === undefined|| params.value == null) {
                return '';
            }
            return (accounting.formatMoney(params.value,"", 2, ",", "."));

        }

        function percentageFormat(params) {
            if (params.value === undefined|| params.value == null) {
                return '';
            }
            return params.value.toFixed(2)+ '%';

        }

        // <!--Working with date filters with the custom date format of Django-->
        var dateFilter = {
            comparator: function (filterLocalDateAtMidnight, cellValue) {
                // <!--var dateParts  = cellValue.split("-");-->
                // <!--var day = Number(dateParts[2]);-->
                // <!--var month = Number(dateParts[1]);-->
                // <!--var year = Number(dateParts[0]);-->
                var cellDate = new Date(cellValue);
                cellDate.setHours(0, 0, 0, 0);

                // Now that both parameters are Date objects, we can compare
                if (cellDate < filterLocalDateAtMidnight) {
                    return -1;
                } else if (cellDate > filterLocalDateAtMidnight) {
                    return 1;
                } else {
                    return 0;
                }
            }
        }
        function counterparty_data(larData) {
            if (gridOptions != null) {
                gridOptions.api.setRowData(larData.data);
                gridOptions.api.sizeColumnsToFit();
            } else {
                gridOptions = {
                    columnDefs: [
                        { headerName: 'Counterparty', field: 'counterparty' },
                        { headerName: 'Probability of Margin Call in 6M', field: 'probability' },
                    ],
                    rowData: larData.data,
                    domLayout: 'autoHeight',
                    enableFilter: true,
                    enableSorting: true,
                    headerHeight: 45,

                    defaultColDef: {
                        suppressMovable: true,
                        suppressMenu: true,
                        filter: 'agTextColumnFilter',
                    },
                    onGridReady: function (gridOptions) {
                        gridOptions.api.sizeColumnsToFit();
                    }
                };
                if (eGridDiv != null) {
                    new agGrid.Grid(eGridDiv, gridOptions);
                }
            }
        }
        function isHeaderRow(params) {
            return params.data.section === 'big-title';
        }

        function isQuarterRow(params) {
            return params.data.section === 'quarters';
        }

        function showHedgeSummary(hedgeSummaryData) {
            if (hsGridOptions != null) {

                hsGridOptions.api.setRowData(hedgeSummaryData.data);
                hsGridOptions.api.sizeColumnsToFit();

            } else {

                hsGridOptions = {
                    columnDefs: [
                        {
                            headerName: 'Underlying', field: 'underlying', suppressFilter: true,
                            colSpan: function (params) {
                                if (isHeaderRow(params)) {
                                    return 4;
                                } else if (isQuarterRow(params)) {
                                    return 2;
                                } else {
                                    return 1;
                                }
                            },
                            cellClassRules: cellClassRules
                        },
                        {
                            headerName: 'Value Date',
                            field: 'value_date',
                            filter: "agSetColumnFilter",
                            filterParams: {
                                selectAllOnMiniFilter: true,
                                newRowsActions: 'keep',
                                clearButton: true
                            },
                        },
                        {
                            headerName: 'Notional Amounts', field: 'notional_amounts', valueFormatter: commaFormat, suppressFilter: true, cellStyle: { 'text-align': "right" }, colSpan: function (params) {
                                if (isQuarterRow(params)) {
                                    return 1;
                                } else {
                                    return 1;
                                }
                            }, cellClassRules: cellCurrentClassRules
                        },
                        {
                            // Required to display only 4 decimals not required to follow nomenclature here -- CVC requirement

                            headerName: 'Strike', field: 'strike', suppressFilter: true, valueFormatter: toFormatFour, cellStyle: { 'text-align': "right" }, colSpan: function (params) {
                                if (isQuarterRow(params)) {
                                    return 1;
                                } else {
                                    return 1;
                                }
                            }, cellClassRules: cellCurrentClassRules
                        },
                    ],
                    rowData: hedgeSummaryData.data,
                    domLayout: 'autoHeight',
                    enableFilter: true,
                    headerHeight: 35,
                    enableSorting: true,
                    paginationAutoPageSize: true,
                    rowSelection: 'multiple',
                    defaultColDef: {
                        // set every column width
                        suppressMovable: true,
                        suppressMenu: true,
                    },
                };
                var hsGridDiv = document.querySelector('#hedge-summary');
                new agGrid.Grid(hsGridDiv, hsGridOptions);
                hsGridOptions.api.sizeColumnsToFit();
            }
        }

        function showSettlementSummary(settlementSummaryData) {
            if (settlementSGridOptions != null) {

                settlementSGridOptions.api.setRowData(settlementSummaryData.data);
                settlementSGridOptions.api.sizeColumnsToFit();

            } else {

                settlementSGridOptions = {
                    columnDefs: [
                        { headerName: 'Counterparty', field: 'counterparty', suppressFilter: true, },
                        { headerName: 'Value Date', field: 'value_date', suppressFilter: true, },
                        { headerName: 'Notional Amounts', field: 'notional_amounts', valueFormatter: commaFormat, suppressFilter: true, cellStyle: { 'text-align': "right" } },
                        { headerName: 'Settlement Limit', field: 'settlement_limit', valueFormatter: commaFormat, suppressFilter: true, cellStyle: { 'text-align': "right" } },
                        { headerName: 'Settlement Usage', field: 'settlement_usage', valueFormatter: percentageFormat, suppressFilter: true,
                         cellStyle: function(params) {
                            var color = numberToColor(params.value);
                            return {
                                backgroundColor: color,
                                textAlign: "center"
                            }
                        }}
                    ],
                    rowData: settlementSummaryData.data,
                    domLayout: 'autoHeight',
                    enableFilter: true,
                    headerHeight: 35,
                    enableSorting: true,
                    rowSelection: 'multiple',
                    paginationAutoPageSize: true,
                    defaultColDef: {
                        // set every column width
                        suppressMovable: true,
                        suppressMenu: true,

                    },
                };
                var settlementSGridDiv = document.querySelector('#settlement-summary');
                new agGrid.Grid(settlementSGridDiv, settlementSGridOptions);
                settlementSGridOptions.api.sizeColumnsToFit();
            }
        }

        function show_data(tradeData) {
            if (tmGridOptions != null) {

                tmGridOptions.api.setRowData(tradeData.data);

            } else {

                tmGridOptions = {
                    columnDefs: [
                        { headerName: 'Trade Date', field: 'trade__trade_date', suppressFilter: true },
                        {
                            headerName: 'Value Date',
                            field: 'trade__value_date',
                            filter: 'agSetColumnFilter',
                            filterParams: {
                                selectAllOnMiniFilter: true,
                                newRowsActions: 'keep',
                                clearButton: true
                            },
                            sort: 'asc',
                        },
                        { headerName: 'Delivery Date', field: 'trade__delivery_date' },
                        { headerName: 'Style', field: 'trade__style' },
                        { headerName: 'Underlying', field: 'trade__underlying' },
                        { headerName: 'Direction', field: 'trade__direction' },
                        { headerName: 'Notional Currency', field: 'trade__notional_currency' },
                        { headerName: 'Notional Amounts', field: 'trade__notional_amounts', valueFormatter: window.formatters.VrmMtm.notional, cellStyle: { 'text-align': "right" } },
                        { headerName: 'Strike', field: 'trade__strike', valueFormatter: window.formatters.VrmMtm.strike, cellStyle: { 'text-align': "right" } },
                        { headerName: 'Premium', field: 'trade__premium', valueFormatter: window.formatters.VrmMtm.premium, cellStyle: { 'text-align': 'right' } },
                        { headerName: 'Counterparty', field: 'trade__counterparty' },
                        { headerName: 'MTM', field: 'mtm', valueFormatter: commaFormat, cellStyle: { 'text-align': "right" } },
                        { headerName: 'Net MTM', field: 'net_mtm', valueFormatter: commaFormat, cellStyle: { 'text-align': "right" } },
                    ],
                    rowData: tradeData.data,
                    domLayout: 'autoHeight',
                    enableFilter: true,
                    headerHeight: 35,
                    enableSorting: true,
                    pagination: true,
                    paginationPageSize: 15,
                    defaultColDef: {
                        suppressMovable: true,
                        suppressMenu : true,
                    },
                    rowSelection: 'multiple',
                    suppressColumnVirtualisation: true,
                    onGridReady: function (gridOptions) {
                        gridOptions.columnApi.autoSizeAllColumns();
                    }
                };

                var tmGridDiv = document.querySelector('#trade-mtm-grid');
                new agGrid.Grid(tmGridDiv, tmGridOptions);
            }
        }

        function get_spot() {
            $.ajax({
                type: 'POST',
                url: '{% url "api-get-underlying" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client.name }}',
                    'fund': $('#fund-select').val(),
                },
                success: function (data) {
                    body = ''
                    var fixed_ccy = ['JPY', 'NGN'];
                    $.each(data['spot_rate'], function (key, value) {
                        var ccy = value.toFixed(4);
                        if (fixed_ccy.indexOf(key.substring(0, 3)) !== -1 || fixed_ccy.indexOf(key.substring(3, 6)) !== -1) {
                            ccy = value.toFixed(2);
                        }

                        var lhsCurrency = window.getCountryCode(key.substring(0, 3));
                        var rhsCurrency =window.getCountryCode(key.substring(3, 6));

                        body += (
                            '<div class="d-inline-block spot-ref-row" style="height: 40px">' +
                            '<div class="spot-ref-row-lhs">' +
                            '<span class="flag flag-' + lhsCurrency + '"></span>' +
                            '<span class="flag flag-' + rhsCurrency + '"></span>' +
                            '</div>' +
                            '<div class="spot-ref-row-rhs">' + ccy + '<br/><small class="text-muted">' + key + '</small></div></td>' +
                            '</div>'
                        );
                    });
                    document.getElementById("spot-ref").innerHTML = '<div>' + body + '</div>';
                }
            });
        }

        $('#filter-text-box').change(function () {
            tmGridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        });

        $('#fund-select').change(function () {
            fetch_data();
        });
        {% if client.lar_multilevel_view %}
           function change_lar_hedge(loaded=false){
               if (loaded){
                   document.getElementById("hedging_data").options.length = 0;
                   $.each(select_hedging_list, function () {
                       var options = "<option " + "value='" + this.id + "'>" + this.val + " Cost of Hedging</option>";
                       $("#hedging_data").append(options);
                   });

                    document.getElementById("lar_dropdown").options.length = 0;
                    document.getElementById("settlement_dropdown").options.length = 0;
                    var count =0;
                   $.each(lar_list, function (key,value) {
                       var options = "<option " + "value='" + count+ "'>" + this.id + "</option>";
                       count ++;
                       $("#lar_dropdown").append(options);
                       $("#settlement_dropdown").append(options);
                   });
               }

                $('#lar-label').text('Liquidity at Risk  95% CL');
                $('#lar-value').text(current_currency + ' '+ lar_list[$('#lar_dropdown').val()].value);

               if (document.getElementById('hedge-h2') != null){
                   var hedge_cost = 0
                   if (document.getElementById("hedging_data").options.length > 0){
                       hedge_cost = value_hedging_list[0][$('#bps_data').val()][$('#hedging_data').val()].val
                   }

                    if (hedge_cost > 0) {
                        $('#hedge-h2').removeClass('text-primary');
                        $('#hedge-h2').removeClass('text-danger');
                        $('#hedge-h2').addClass('text-navy');
                        document.getElementById('hedge-value_italic').className = "fas fa-play fa-rotate-270"
                    }
                    else if (hedge_cost == 0) {
                        $('#hedge-h2').addClass('text-primary');
                        $('#hedge-h2').removeClass('text-danger');
                        $('#hedge-h2').removeClass('text-navy');
                        document.getElementById('hedge-value_italic').className = "fas fa-play fa-rotate-0"
                    }
                    else {
                        $('#hedge-h2').removeClass('text-primary');
                        $('#hedge-h2').addClass('text-danger');
                        $('#hedge-h2').removeClass('text-navy');
                        document.getElementById('hedge-value_italic').className = "fas fa-play fa-rotate-90"
                    }
                    $('#hedge-value').text(Math.round(hedge_cost,1));
               }
           }

           $('#hedging_data').change(function () {
               change_lar_hedge()
           });
           $('#bps_data').change(function () {
               change_lar_hedge()
           });
           $('#lar_dropdown').change(function () {
               change_lar_hedge()
           });
            $('#settlement_dropdown').change(function () {
              get_settlement_summary(1);
           });
        {% endif %}
        {% if client.trade_summary_options %}
            $("#trade_summary_options").change(function () {
                get_trade_summary_view();
           });
        {% endif %}
        function change_mtm_trade_options(on_loading=false){
            if (on_loading){
                {% if client.trade_summary_options %}
                    if (document.getElementById("trade_summary_options")){
                        document.getElementById("trade_summary_options").options.length = 0;
                        var options = "<option " + "value='" + 0 + "'>All</option>";
                        $("#trade_summary_options").append(options);

                            // expected to have a list to append
                            var count =1;
                             $.each(trade_summary_option_list, function (key,value) {
                               var options = "<option " + "value='" + count+ "'>" + value + "</option>";
                               count ++;
                               $("#trade_summary_options").append(options);
                           });


                    }
                 {% endif %}
            }

        }
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Liquidity at Risk 95% CL  ',
            },
            xAxis: {
                categories: [],
            },
            yAxis: {
                title: {
                    text: current_currency + '(millions)',
                    align: 'middle'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                delayForDisplay: 10,
                shared: true
            },
            annotationsOptions: { enabledButtons: false },
            plotOptions: {
                series: {
                    turboThreshold: 0
                }, treemap: {
                    layoutAlgorithm: 'squarified'
                }, bubble: {
                    minSize: 5,
                    maxSize: 25
                }, column: {
                    grouping: false,
                    shadow: false,
                    borderWidth: 0
                }
            },
            legend: {
                enabled: true,
                itemDistance: 50,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: true
            },
            series: [
                {
                    showInLegend: false,
                    data: [],
                    name: 'Threshold + MTA',
                    color: '#42BA97',
                    pointPadding: -0.2
                },
                {
                    data: [],
                    name: 'Current MtM',
                    color: '#0099FF',
                    pointPadding: 0.3,
                    pointPlacement: -0.2,
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return Highcharts.numberFormat(this.y, 1, '.', ',') + 'mn';
                        },
                        style: {
                            fontSize: '14px',
                            textOutline: false
                        }
                    }
                },
                {
                    data: [],
                    name: 'LaR (95% CL)',
                    color: '#D62839',
                    pointPadding: 0.3,
                    pointPlacement: 0.2,
                    dataLabels: {
                        enabled: true,
                        formatter: function () { return Highcharts.numberFormat(this.y, 1, '.', ',') + 'mn'; },
                        style: { fontSize: '12px', textOutline: false }
                    }
                }
            ],
            "theme": {
                "colors": ["#7CB5EC", "#F7A35C", "#90EE7E", "#7798BF", "#AAEEEE", "#FF0066", "#EEAAEE", "#55BF3B"],
                "chart": { "backgroundColor": null, "style": { "fontFamily": "Dosis, sans-serif" } },
                "title": { "style": { "fontSize": "16px", "fontWeight": "bold", "textTransform": "uppercase" } },
                "tooltip": { "borderWidth": 0, "backgroundColor": "rgba(219,219,216,0.8)", "shadow": false },
                "legend": { "itemStyle": { "fontWeight": "bold", "fontSize": "13px" } },
                "xAxis": { "gridLineWidth": 1, "labels": { "style": { "fontSize": "12px" } } },
                "yAxis": {
                    "minorTickInterval": "auto", "title": { "style": { "textTransform": "uppercase" } },
                    "labels": { "style": { "fontSize": "12px" } }
                }, "plotOptions": { "candlestick": { "lineColor": "#404048" } },
                "background2": "#F0F0EA"
            },
            "conf_opts": {
                "global": {
                    "Date": null,
                    "VMLRadialGradientURL": "http =//code.highcharts.com/list(version)/gfx/vml-radial-gradient.png",
                    "canvasToolsURL": "http =//code.highcharts.com/list(version)/modules/canvas-tools.js",
                    "getTimezoneOffset": null,
                    "timezoneOffset": 0,
                    "useUTC": true
                },
                "lang": {
                    "contextButtonTitle": "Chart context menu",
                    "decimalPoint": ".",
                    "downloadJPEG": "Download JPEG image",
                    "downloadPDF": "Download PDF document",
                    "downloadPNG": "Download PNG image",
                    "downloadSVG": "Download SVG vector image",
                    "drillUpText": "Back to {series.name}",
                    "invalidDate": null, "loading": "Loading...",
                    "months": [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"],
                    "noData": "No data to display",
                    "numericSymbols": ["k", "M", "G", "T", "P", "E"],
                    "printChart": "Print chart",
                    "resetZoom": "Reset zoom",
                    "resetZoomTitle": "Reset zoom level 1:1",
                    "shortMonths": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    "thousandsSep": " ", "weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
                }
            },
        });

        $('#fund-select').selectpicker('val', '{{selected_fund}}');
        fetch_data();
    });
</script>

{% endblock %}