{% extends 'NewBase.html' %}
{% load static %}
{% block scripts %}
<style>
    .ag-header-cell {
    font-weight: bold;
    font-size: 12px;
    background-color: #c1c1c1;
    }
    .ag-header-cell-label .ag-header-cell-text {
       text-align: center;
       text-overflow: clip;
       overflow: visible;
       overflow-wrap: break-word;
       white-space: normal !important;
   }
   <!--.ag-theme-bootstrap .ag-header-cell, .ag-theme-bootstrap .ag-header-group-cell {-->
    <!--line-height: 15px;-->
    <!--}-->

</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}

{% block content %}
<div id="snoAlertBox" data-alert="alert"></div>
<div id="successBox" data-alert="alert"></div>
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#deal-editor-dodument-tab" aria-expanded="true">Deal Editor</a></li>
        <li class=""><a data-toggle="tab" href="#cashflow-editor-tab" aria-expanded="true">Cashflows Backward Looking
                Editor</a></li>
        <li class=""><a data-toggle="tab" href="#assign-hedge-tab" aria-expanded="true">Cashflows Forward Looking</a></li>
    </ul>
    <div class="tab-content ">
        <div id="deal-editor-dodument-tab" class="tab-pane active">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        {% if user.is_staff %}
                        <div>
                            <button type="button" id="addIDDeals" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                style="font-size: 80%"><i class="fas fa-plus-circle"></i>&nbsp;Add</button>
                        </div>
                        <!--<div>-->
                        <!--<button type="button" id="deleteRowIDDeals" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button>-->
                        <!--</div>-->
                        <div>
                            <button type="button" id="saveIDDeals" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                        </div>
                        <div>
                            <button type="button" id="resetIDDeals" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                        </div>
                        <div>
                            <pre id="selectedDeals" class="shiny-text-output noplaceholder shiny-bound-output">Selected Deal:</pre>
                        </div>
                        <div>
                            <div id="commentDeals" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ibox-content ibox-heading" style="background-color:#add8e6">
                                    <h3>Direct Exposures per Deal</h3>
                                </div>
                                <div>
                                    <div id="dealgrid" class="ag-theme-bootstrap"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="ibox-content ibox-heading" style="background-color:#add8e6">
                                    <h3>Indirect Exposures per Deal</h3>
                                </div>
                                <div>
                                    <div id="indirectgrid" class="ag-theme-bootstrap"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cashflow-editor-tab" class="tab-pane">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <!--<div class="col-lg-2">-->
                        <!--<div class="col-lg-12">-->
                        <!--<button type="button" id="addCashflows" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"> <i class="fas fa-plus-circle"></i>&nbsp;Add New CFs</button>-->
                        <!--</div>-->
                        <!--<div class="col-lg-12">-->
                        <!--<button type="button" id="deleteRowCashflows" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button>-->
                        <!--</div>-->
                        <!--<div class="col-lg-12">-->
                        <!--<button type="button" id="saveCashflows" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>-->
                        <!--</div>-->
                        <!--<div class="col-lg-12">-->
                        <!--<button type="button" id="resetCashflows" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>-->
                        <!--</div>-->
                        <!--<p>Select Deal</p>-->
                        <!--<div class="col-lg-12">-->
                        <!--<div id="selectDeal" class="shiny-html-output shiny-bound-output"></div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="col-lg-8">
                        <div class="ibox-content ibox-heading" style="background-color:#add8e6">
                            <h3>Cashflow Backward Looking</h3>
                        </div>
                        <div>
                            <div id="backwardcashflowgrid" class="ag-theme-bootstrap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="assign-hedge-tab" class="tab-pane">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        {% if user.is_staff %}
                        <div>
                            <button type="button" id="addFWDdeal" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                style="font-size: 80%"><i class="fas fa-plus-circle"></i>&nbsp;Add</button>
                        </div>
                        <!--<div>-->
                        <!--<button type="button" id="deleteRowFWD" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button>-->
                        <!--</div>-->
                        <div>
                            <button type="button" id="saveFWDdeal" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                        </div>
                        <div>
                            <button type="button" id="resetFWDdeal" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                        </div>
                        <div>
                            <div id="warningTextDealHedge" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                        <div>
                            <div id="commentDealHedge" class="shiny-html-output shiny-bound-output"></div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-lg-8">
                        <div class="ibox-content ibox-heading" style="background-color:#add8e6">
                            <h3>Cashflow Forward Looking</h3>
                        </div>
                        <div>
                            <div id="forwardcashflowgrid" class="ag-theme-bootstrap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var dealsHedgesEditorJsParams = {
            "client": "{{ client }}",
            "csrf_token": "{{ csrf_token }}",
            "cashflow_specific_tables_url": "{% url "cashflow_specific_tables" %}",
            "indirect_specific_tables_url": "{% url "indirect_specific_tables" %}",
            "save_indirect_deal_data_url": "{% url 'save_indirect_deal_data' %}",
            "save_fwd_deal_data_url": "{% url 'save_fwd_deal_data' %}",
            "forward_specific_tables_url": "{% url 'forward_specific_tables' %}"
        };
    </script>

    <script src="{% static 'js/dashboard/data_editor/gc_deals_document_editor.js' %}"></script>

    {% endblock %}