{% extends 'NewBase.html' %}
{%load filter%}
{%load static%}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<script defer src="{% static 'js/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/heatmap.js' %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-kpi-lar kpi">
            <div class="panel-heading">
                <div >
                       <!--<span class="badge badge-primary">Select the option: </span>-->
                        <select id="fund_analytics_option" class="form-control"   ></select>
                </div>
                <div >

                       <select id="fund_analysis_level_select" class="form-control" ></select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
             <div class="panel-heading">
              </div>
            <div class="panel-body">
                <form id="mainForm" name="mainForm" class="counterparty-tray">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row"  id="lar_container_display">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Counterparty Monitor</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div id="historicalmtm"></div>
                    </div>

                    <div class="col-md-4" >
                        <div id="container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"  id="fund_container_display">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Counterparty Monitor</h3>
            </div>

            <div class="panel-body">
                    <div class="col-lg-12">
                        <div id="entity_historicalmtm"></div>
                    </div>

            </div>
        </div>
    </div>
    <div class="col-md-12">
       <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Liquidity at Risk (95% CL)</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-12" >
                    <div id="fundLarGridOptions_table" class="ag-theme-balham"></div>
                </div>
            </div>
        </div>
    </div>
</div>



{% if client.avg_notional_amount %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div id="notional_container"></div>
        </div>
    </div>
</div>
{% endif %}

{% comment %}
This had an impossible condition, is this even useful?

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Net Exposure</h3>
            </div>

            <div class="panel-body">
                <div id="netexposure_container"></div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Market Valuation</h3>
            </div>

            <div class="panel-body bg-custom-info p-l-0">
                <div class="d-flex justify-content-between">
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <div class="">
                            <label class="form-label" for="ValuationDate_select">
                                Valuation Date
                            </label>

                            <input type="text"
                                id="ValuationDate_select"
                                autocomplete="off"
                                class="form-control">
                        </div>
                    </div>

                    <div class="d-flex">
                        <div>
                            <label class="form-label">Download Table</label>
                            <button id="downloadSpotData" class="btn action-button btn-success btn-block btn-outline">
                                <i class="fas fa-download"></i>
                                Download
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <blockquote>
                    <h3 class=""><i class="fas fa-chart-line"></i> MTM in Total:</h3>
                    <h4 id="CPMTM"></h4>
                </blockquote>

                <div id="trade-mtm-grid" class="ag-theme-balham"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block deferred_scripts %}


<style>

    .quarters-cell {
        background-color: #5bc0de;
        font-weight: bold;
        font-size: 12px;
    }
</style>

<script>
"use strict";
var content_tab = {{ content_tab_list |safe}};
window.counterpartyJsParams = {
    csrf_token: '{{ csrf_token }}',
    client: '{{ client }}',
    selected_fund:'{{selected_fund}}',
    avg_notional_amount : ('{{ client.avg_notional_amount }}' === 'True') ? 1 : 0,
    proportional_mtm : content_tab.includes( 'Proportional mtm')== true ? 1 : 0,
    defaultSelectedFund: '{{selected_fund}}',
    fetch_hedge_valuation_level_options: '{% url 'fetch_hedge_valuation_level_options' %}',
    apiCounterparties: '{% url 'ajax_counterparties' %}',
    apiUserRecentFund: '{% url 'ajax_user_recent_fund' %}',
    apiHistoricalMtM: '{% url 'ajax_historicalmtm' %}',
    apiCpSummation: '{% url 'ajax_cpsummation' %}',
    apiAnalyticsMtMTable: '{% url 'api_analytics_mtm_table' %}',
    apiTradeMtMCounterparty: '{% url 'api-trade-mtm-counterparty' %}',
    apiAveragedWeightNotional: '{% url 'ajax_averagedweightnotional' %}',
    ajaxEntityLar: '{% url 'ajax_get_entity_lar' %}'

};
</script>

<script src="{% static 'js/dashboard/gcounterparty.js' %}"></script>
{% endblock %}