{% extends 'NewBase.html' %}
{% load static %}
{% block scripts %}
<style>
    .ag-header-cell {
        font-weight: bold;
        font-size: 11px;
        background-color: #c1c1c1;
        text-align: center;
    }

    .ag-theme-bootstrap .ag-cell {
        text-align: center;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

    .ag-header-cell-label .ag-header-cell-text {
        text-align: center;
        overflow: visible;
        overflow-wrap: break-word;
        white-space: normal !important;
    }

    .ag-header-cell-text {
        flex: 1;
    }

    .ag-theme-bootstrap .ag-header-cell,
    .ag-theme-bootstrap .ag-header-group-cell {
        line-height: 15px;
    }
</style>
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rebalancing Trades</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2" id="RTInputValueDate" class="shiny-html-output shiny-bound-output">
                        <label class="control-label" for="RTInputValueDate">Select Date</label>
                        <select id="formal" name="formal" class="form-control" onchange="getval(this);">
                            {% for icon in value_date %}
                            <option value='{{icon.value_date|date:'Y-m-d'}}' style="text-align:left;">{{icon.value_date|date:'Y-m-d'}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-sm-10">
                        <div id="rebalancinggrid" class="ag-theme-bootstrap">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Hedging Ratio</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2" id="HedgeInputValueDate" class="shiny-html-output shiny-bound-output">
                        <label class="control-label" for="HedgeInputValueDate">Select Date</label>
                        <select id="formal_hedgeRatio" name="formal_hedgeRatio" class="form-control" onchange="getval_hedgeRatio(this);">
                            {% for icon in value_date %}
                            <option value='{{icon.value_date|date:'Y-m-d'}}' style="text-align:left;">{{icon.value_date|date:'Y-m-d'}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-10">
                        <div id="hedgeRatiogrid" class="ag-theme-bootstrap"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div id="HedgeRatioSummary"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="mutipleline"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if client.realisedpnl %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Realised PNL</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="realisedpnl_container" style="height: 300px;"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="cumulative_realisedpnl_container" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% load static %}
<script src="{% static 'node_modules/ag-grid/dist/ag-grid.js' %}"></script>
<link rel="stylesheet" href="{% static 'node_modules/ag-grid/dist/styles/ag-grid.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/ag-grid/dist/styles/ag-theme-bootstrap.css' %}">
<script src="{% static 'highcharts-5.0.6/highcharts.js' %}"></script>
<script src="{% static 'highcharts-5.0.6/modules/exporting.js' %}"></script>
<script>

    var myGrid;
    var columnDefs;
    var rowData;
    var gridOptions = null;
    var rebalancinggridOptions = null;
    var hedgeRatiogridOptions = null;
    var valuation_date = null;

    function realised_pnl(data) {

        var notionalamount = [];
        for (i = 0; i < data.data_realised_pnl.length; i++) {

            notionalamount.push([Date.parse(new Date(data.data_realised_pnl[i][0])), data.data_realised_pnl[i][1]]);

        }

        var weightedstrike = [];
        for (i = 0; i < data.weighted_strike.length; i++) {

            weightedstrike.push([Date.parse(new Date(data.weighted_strike[i][0])), data.weighted_strike[i][1]]);

        }
        var start_date = new Date(data['start_date']);
        var start_utc = Date.UTC(start_date.getUTCFullYear(), start_date.getUTCMonth(), start_date.getUTCDate());
        var end_date = new Date(data['end_date']);
        var end_utc = Date.UTC(end_date.getUTCFullYear(), end_date.getUTCMonth(), end_date.getUTCDate());

        Highcharts.chart('realisedpnl_container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Settlements'
            },
            xAxis: [{
                min: start_utc,
                max: end_utc,
                //allowDecimals: false,
                type: 'datetime',
                tickInterval: 24 * 3600 * 1000 * 30, //one day
                labels: {
                    rotation: 0
                },
            }],
            yAxis: [{ // Secondary yAxis

                title: {
                    text: data.ccy,
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value} mn',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                }

            }],
            credits: {
                enabled: false
            },
            plotOptions: {
                column: {
                    negativeColor: '#CD5C5C',
                    threshold: 0,
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                        }
                    }
                }
            },
            series: [{
                showInLegend: false,
                name: 'Settlements',
                pointWidth: 6,
                data: notionalamount,
                tooltip: {
                    valueSuffix: ' millions'
                }

            }]
        });


        Highcharts.chart('cumulative_realisedpnl_container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Cumulative Settlements'
            },
            subtitle: {

            },
            xAxis: {
                min: start_utc,
                max: end_utc,
                //allowDecimals: false,
                type: 'datetime',
                tickInterval: 24 * 3600 * 1000 * 30, //one day
                labels: {
                    rotation: 0
                },
            },
            yAxis: {
                title: {
                    text: data.ccy
                },
                labels: {
                    format: '{value} mn',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                }
            },
            plotOptions: {
                line: {
                    negativeColor: '#CD5C5C',
                    threshold: 0,
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            legend: {
                enabled: false
            },
            tooltip: {
                shared: true
            },
            series: [{
                name: 'cumulative settlements',
                data: weightedstrike,
            }]
        });
    }

    function rebalancing_grid(data) {
        if (rebalancinggridOptions != null) {
            rebalancinggridOptions.api.setRowData(data.data);
            rebalancinggridOptions.api.sizeColumnsToFit();
        } else {
            rebalancinggridOptions = {
                columnDefs: [
                    { headerName: 'Fund', field: 'fund', width: 110 },
                    { headerName: 'Style', field: 'style', width: 110 },
                    { headerName: 'Underlying', field: 'underlying', width: 110 },
                    { headerName: 'Direction', field: 'direction', width: 110 },
                    { headerName: 'Notional Currency', field: 'notional_currency', width: 120, cellStyle: { 'text-align': "center" } },
                    { headerName: 'Notional Amounts', field: 'notional_amounts', valueFormatter: commaFormat, width: 120, cellStyle: { 'text-align': "right" } },
                    { headerName: 'NAV Percentage', field: 'nav_percentage', valueFormatter: toFormatTwoPercentage, width: 110, cellStyle: { 'text-align': "center" } },
                ],
                rowData: data.data,
                domLayout: 'autoHeight',
                enableFilter: true,
                headerHeight: 45,
                enableSorting: true,
                pagination: true,
                paginationPageSize: 15,
                components: {
                    mySimpleCellEditor: MySimpleCellEditor
                },
                defaultColDef: {
                    // set every column width
                    // width: 110,
                    suppressMovable: true,
                    suppressFilter: true,
                    suppressMenu: true,
                    editable: false,
                    onGridReady: function (params) {
                        params.columnApi.autoSizeAllColumns();
                        //params.api.sizeColumnsToFit();
                        window.addEventListener('resize', function () {
                            setTimeout(function () {
                                params.columnApi.autoSizeAllColumns();
                                //params.api.sizeColumnsToFit();
                            })
                        })
                    }

                    // make every column use 'text' filter by default
                    //filter: 'agTextColumnFilter'
                },
            };
            var rebalancinggridDiv = document.querySelector('#rebalancinggrid');
            rebalancinggrid = new agGrid.Grid(rebalancinggridDiv, rebalancinggridOptions);
            rebalancinggridOptions.api.sizeColumnsToFit();
        }
    }


    function hedgeRatio_grid(data) {
        if (hedgeRatiogridOptions != null) {
            hedgeRatiogridOptions.api.setRowData(data.data);
            hedgeRatiogridOptions.api.sizeColumnsToFit();
        } else {
            hedgeRatiogridOptions = {
                columnDefs: [
                    { headerName: 'Fund', field: 'fund', width: 110 },
                    { headerName: 'Fund Currency', field: 'fund_currency', width: 120, cellStyle: { 'text-align': "center" } },
                    { headerName: 'NAV Fund Currency', field: 'nav_fund_ccy', width: 110, valueFormatter: commaFormat, cellStyle: { 'text-align': "right" } },
                    { headerName: 'Hedges Currency', field: 'hedges_currency', width: 90, cellStyle: { 'text-align': "center" } },
                    { headerName: 'NAV Foreign Currency', field: 'nav_foreign_ccy', valueFormatter: commaFormat, width: 120, cellStyle: { 'text-align': "right" } },
                    { headerName: 'Hedge Amounts', field: 'hedges_amount', valueFormatter: commaFormat, width: 120, cellStyle: { 'text-align': "right" } },
                    { headerName: 'Hedge Ratio per Currency', field: 'hedge_ratio', valueFormatter: toFormatTwoPercentage, width: 120, cellStyle: { 'text-align': "center" } },
                ],
                rowData: data.data,
                domLayout: 'autoHeight',
                enableFilter: true,
                headerHeight: 45,
                enableSorting: true,
                pagination: true,
                paginationPageSize: 15,
                components: {
                    mySimpleCellEditor: MySimpleCellEditor
                },
                defaultColDef: {
                    // set every column width
                    // width: 120,
                    suppressMovable: true,
                    suppressFilter: true,
                    suppressMenu: true,
                    editable: false,
                    onGridReady: function (params) {
                        params.columnApi.autoSizeAllColumns();
                        //params.api.sizeColumnsToFit();
                        window.addEventListener('resize', function () {
                            setTimeout(function () {
                                params.columnApi.autoSizeAllColumns();
                                //params.api.sizeColumnsToFit();
                            })
                        })
                    }

                },
            };
            var hedgeRatiogridDiv = document.querySelector('#hedgeRatiogrid');
            hedgeRatiogrid = new agGrid.Grid(hedgeRatiogridDiv, hedgeRatiogridOptions);
            hedgeRatiogridOptions.api.sizeColumnsToFit();
        }
    }


    function tovaluedate(params) {
        var futureDate = (new Date(params.value));
        futureDate = new Date(futureDate.setMonth(futureDate.getMonth() + 3));
        return '<span class="rag-element">' + futureDate.getFullYear() + '-' + futureDate.getMonth() + '-' + futureDate.getDate() + '</span>';
    }
    // converting cell value to two decimal places
    function toFormatTwo(params) {
        return params.value.toFixed(2);
    }
    // converting cell value to two decimal places
    function toFormatTwoPercentage(params) {
        return Math.abs((params.value * 100).toFixed(2)) + ' %';
    }
    // converting cell value to two decimal places
    function commaFormat(params) {
        return (Math.round(parseFloat(params.value))).toLocaleString();
    }
    // converting cell value to two decimal places
    function commaFormatWithStyle(params) {
        return '<span class="rag-element">' + (Math.round(params.value)).toLocaleString() + '</span>';
    }
    // converting cell value to two decimal places
    function toFormatFour(params) {
        return parseFloat(params.value).toFixed(4);
    }
    // converting cell value to UTC time
    function toTimeFormatter(params) {
        return new Date(parseFloat(params.value)).toUTCString();
    }

    // Working with date filters with the custom date format of Django
    var dateFilter = {
        comparator: function (filterLocalDateAtMidnight, cellValue) {
            var dateParts = cellValue.split("-");
            var day = Number(dateParts[2]);
            var month = Number(dateParts[1]) - 1;
            var year = Number(dateParts[0]);
            var cellDate = new Date(day, month, year);

            // Now that both parameters are Date objects, we can compare
            if (cellDate < filterLocalDateAtMidnight) {
                return -1;
            } else if (cellDate > filterLocalDateAtMidnight) {
                return 1;
            } else {
                return 0;
            }
        }
    }
    let KEY_BACKSPACE = 8;
    let KEY_F2 = 113;
    let KEY_DELETE = 46;

    function MySimpleCellEditor() { }

    MySimpleCellEditor.prototype.init = function (params) {
        this.gui = document.createElement('input');
        this.gui.type = 'text';
        this.gui.classList.add('my-simple-editor');

        this.params = params;

        var startValue;

        let keyPressBackspaceOrDelete =
            params.keyPress === KEY_BACKSPACE
            || params.keyPress === KEY_DELETE;

        if (keyPressBackspaceOrDelete) {
            startValue = '';
        } else if (params.charPress) {
            startValue = params.charPress;
        } else {
            startValue = params.value;
            if (params.keyPress !== KEY_F2) {
                this.highlightAllOnFocus = true;
            }
        }

        if (startValue !== null && startValue !== undefined) {
            this.gui.value = startValue;
        }
    };

    MySimpleCellEditor.prototype.getGui = function () {
        return this.gui;
    };

    MySimpleCellEditor.prototype.getValue = function () {
        return this.gui.value;
    };

    MySimpleCellEditor.prototype.afterGuiAttached = function () {
        this.gui.focus();
    };

    MySimpleCellEditor.prototype.myCustomFunction = function () {
        return {
            rowIndex: this.params.rowIndex,
            colId: this.params.column.getId()
        };
    };


    function setup_cpsummation(data) {
        Highcharts.chart('container', {

            chart: {
                type: 'heatmap',
                marginTop: 40,
                marginBottom: 80,
                plotBorderWidth: 1
            },


            title: {
                text: 'Liquidity at Risk (95% CL), $mn',
                style: [{
                    fontSize: "12px"
                }]

            },
            xAxis: {
                categories: [$('#fund-select').val()]
            },
            yAxis: {

                categories: data['counterparty'],
                title: null
            },



            colorAxis: {
                min: data['color'],
                max: 0,
                minColor: '#dd4b39',
                maxColor: '#ffffff'
            },

            legend: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.xAxis.categories[this.point.x] + '</b>  95% CL <br><b>' +
                        this.point.value + '</b> mn <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
                }
            },

            credits: {
                enabled: false
            },
            exporting: {
                enabled: true
            },
            series: [{
                name: 'with 95% Confidence Level',
                borderWidth: 1,
                data: data['cp'],
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    style: [{
                        fontSize: "14px",
                        textOutline: false
                    }]
                }
            }],

        });

    }

    function addOption(id_name, data) {
        var select = document.getElementById(id_name);
        select.options.length = 0;
        data.valuedate.forEach(function (element) {
            select.options[select.options.length] = new Option(element.date, element.date, false, false);
        });


    }


    function muitpleline(data) {
        var mappedFundPercentageData = data.hedge_ratio_series.map(function (fund_summary_data) {
            fund_summary_data.dates.forEach(function (element) {
                dateObj = new Date(element[0]);
                var month = dateObj.getUTCMonth(); //months from 1-12
                var day = dateObj.getUTCDate();
                var year = dateObj.getUTCFullYear();
                element[0] = Date.UTC(year, month, day)
            });
            return {
                name: fund_summary_data.names,
                data: fund_summary_data.dates
            }
        });

        Highcharts.chart('mutipleline', {
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Hedge Ratio Over Time'
            },
            subtitle: {
                text: 'Currency - Hedge Ratio'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                title: {
                    text: ''
                }
            },
            yAxis: {
                title: {
                    text: 'Percentage (%)'
                },
                min: 0
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y} %'
            },

            plotOptions: {
                spline: {
                    marker: {
                        enabled: true
                    }
                }
            },

            colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
            credits: {
                enabled: false
            },
            exporting: {
                enabled: true
            },

            series: mappedFundPercentageData

        });

    }


    function chart_redraw(data) {
        chart = new Highcharts.Chart({

            chart: {
                renderTo: 'HedgeRatioSummary',
                type: 'column'
            },

            title: {
                text: 'Currency Hedge Coverage'
            },

            xAxis: {
                categories: data.names
            },

            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'Percentage'
                },
                stackLabels: {
                    enabled: false,
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },

            tooltip: {

                pointFormat: "{series.name}: <b>{point.y:,.0f}%</b>"

            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: true
            },
            series: [
                {
                    name: 'Unhedged Ratio',
                    type: 'column',
                    yAxis: 0,
                    color: "#b4b4b4",
                    data: data.unhedge,
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            if (this.y != 0) {
                                return Highcharts.numberFormat(this.y, 0, '.', ',') + '%';
                            } else {
                                return null
                            }
                        },
                        style: {
                            color: '#FFFFFF',
                            fontWeight: 'bold',
                            textShadow: '0px 0px 3px black'
                        }
                    }
                },
                {
                    name: 'Hedged by Derivatives',
                    type: 'column',
                    data: data.hedge_ratio,
                    yaxis: 0,
                    color: '#7e9cd5',
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            if (this.y != 0) {
                                return Highcharts.numberFormat(this.y, 0, '.', ',') + '%';
                            } else {
                                return null
                            }
                        },
                        style: {
                            color: '#FFFFFF',
                            fontWeight: 'bold',
                            textShadow: '0px 0px 3px black'
                        }
                    }
                },
                {
                    name: 'Investment',
                    type: 'column',
                    data: data.investment,
                    yaxis: 0,
                    color: '#ffcc49',
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            if (this.y != 0) {
                                return Highcharts.numberFormat(this.y, 0, '.', ',') + '%';
                            } else {
                                return null
                            }
                        },
                        style: {
                            color: '#FFFFFF',
                            fontWeight: 'bold',
                            textShadow: '0px 0px 3px black'
                        }
                    }

                },]
        });
    }

    function fetch_realisedpnl(select_date = null) {

        {% if client.realisedpnl %}
        $.ajax({
            type: 'POST',
            url: "{% url 'ajax_realisedpnl' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'counterparty': $('input[name=optradio]:checked', '#mainForm').val(),
                'client': '{{client.name}}',
                'fund': $('#fund-select').val(),
                'level': 'Fund',  // by default Fund level process
                'level_value': $('#fund-select').val(),
            },
            success: function (data) {
                realised_pnl(data);
            }
        });
        {% endif %}
    }

    function fetch_rebalancing_data(select_date = null) {

        $.ajax({
            type: 'POST',
            url: "{% url 'rebalancing_table' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'client': '{{client.name}}',
                'fund': $('#fund-select').val(),
                'valuation_date': select_date,
                'level': 'Fund',  // by default Fund level process
                'level_value': $('#fund-select').val(),
            },
            success: function (data) {
                rebalancing_grid(data);
                if (select_date == null) {
                    addOption("formal", data);
                }
            }
        });
    }


    function fetch_hedgeRatio_data(select_date = null) {

        $.ajax({
            type: 'POST',
            url: "{% url 'hedgeratio_table' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'client': '{{client.name}}',
                'fund': $('#fund-select').val(),
                'valuation_date': select_date,
                'level': 'Fund',  // by default Fund level process
                'level_value': $('#fund-select').val(),
            },
            success: function (data) {
                hedgeRatio_grid(data);
                if (select_date == null) {
                    addOption("formal_hedgeRatio", data);
                }

                chart_redraw(data.chartdata[0]);
                muitpleline(data);
            }
        });
    }



    $(document).ready(function () {
        $('#fund-select').selectpicker('val', '{{selected_fund}}');
        var promise = new Promise(function (resolve, reject) {
            fetch_rebalancing_data();

            resolve("Stuff worked!");
        });

        promise.then(function (result) {
            fetch_realisedpnl();
            fetch_hedgeRatio_data();

        }, function (err) {
            console.log(err);
        });


    });

    $('#fund-select').change(function () {
        var promise = new Promise(function (resolve, reject) {
            fetch_rebalancing_data();
            resolve("Stuff worked!");
        });

        promise.then(function (result) {
            fetch_realisedpnl();
            fetch_hedgeRatio_data();

        }, function (err) {
            console.log(err);
        });
    });
    function getval(sel) {
        fetch_rebalancing_data(sel.value);
    }
    function getval_hedgeRatio(sel) {
        fetch_hedgeRatio_data(sel.value);
    }

</script>

{% endblock %}