{% extends 'NewBase.html' %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script defer src="{% static 'js/moment.min.js' %}"></script>
<script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-2">
        <div id="selectUnderlying" class="form-group">
            <select id="underlying-select" class="form-control"></select>
        </div>

        <div>
            <button id="downloadSpotData" class="btn btn-block btn-default">
                <i class="fas fa-download"></i>
                Download
            </button>
        </div>
            <div>
                            <br>
                            <label class="control-label" for="pause">
                                Live Rates:
                            </label>



                            <div >
                                <div id="gridMarketData" class="ag-theme-balham"></div>
                                <div class="checkbox">
                                    <label>
                                        <input id="pause" type="checkbox">
                                        <span>Pause</span>
                                    </label>
                                </div>
                            </div>
                        </div>
    </div>

    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="pull-right text-right">
                    <small>Positive: Pickup / Negative: Cost</small>
                </span>

                <h3 class="panel-title">Cost of Hedging</h3>
            </div>

            <div class="panel-body bg-custom-info">
                <p class="font-bold no-margins">
                    The forward points are calculated based on the difference between the interest rates of the two
                    currencies. Clean mid-market prices are shown.
                </p>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <div id="selectAsof">
                            <div class="form-group">
                                <label class="control-label" for="asof-select">Select Market Date</label>
                                <input type="text" id="asof-select" class="form-control">
                            </div>
                            <!--<select id="asof-select" class="form-control" style="border-radius: 5px;">-->
                            <!--</select>-->
                        </div>
                    </div>
                </div>

                <div id="myGrid" class="ag-theme-balham"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Forward Curve</h3>
            </div>


            <div class="panel-body" id="fwd_curve_content">
                <div class="row">
                    <div class="col-md-4">
                            <button id="downloadForwardCurveData" class="btn btn-block btn-default">
                         <i class="fas fa-download"></i>
                            Download
                        </button>
                    </div>
                </div>
                <div id="fwd_curve" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
            </div>
        </div>
        {% if client.interest_curve %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Interest Rate Curve</h3>
            </div>

            <div class="panel-body" id="interest_curve_content">
                <div class="row">
                    <div class="col-md-4">
                        <div id="selectInterestCurve" class="form-group">
                            <select id="interest-select" class="form-control"></select>
                            <button id="downloadInterestCurveData" class="btn btn-block btn-default">
                         <i class="fas fa-download"></i>
                            Download
                        </button>
                        </div>
                    </div>


                </div>
                 <div class="row">
                    <div id="interest_curve" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
                 </div>
            </div>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Historical Spot Rate</h3>
            </div>

            <div class="panel-body" id="historic-spot-content">
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
            </div>
        </div>
       {% if client.in_the_money_probability %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">In the money forward</h3>
            </div>

            <div class="panel-body" id="probability-content">
                <div id="in-the-money" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block deferred_scripts %}
<script>
    $(function () {
        var myGrid;
        var gridOptions = null;
        var gridMarketDataOptions = null;
        var fwdCurveGridOptions = null;

        $('#downloadSpotData').on('click', function () {
            gridOptions.api.exportDataAsCsv();
        });

        $('#downloadFwdCurveData').on('click', function () {
            fwdCurveGridOptions.api.exportDataAsCsv();
        });


        $('#collapse-historic').click(function () {
            if ($('#historic-spot-content')[0].style.display === 'none') {
                $('#historic-spot-content').show('slow');
                $('#collapse-icon').removeClass('fa-chevron-down');
                $('#collapse-icon').addClass('fa-chevron-up');

            }
            else {
                $('#historic-spot-content').hide('slow');
                $('#collapse-icon').removeClass('fa-chevron-up');
                $('#collapse-icon').addClass('fa-chevron-down');
            }
        });

        $('#collapse-probability').click(function () {
            if ($('#probability-content')[0].style.display === 'none') {
                $('#probability-content').show('slow');
                $('#collapse-icon-probability').removeClass('fa-chevron-down');
                $('#collapse-icon-probability').addClass('fa-chevron-up');

            }
            else {
                $('#probability-content').hide('slow');
                $('#collapse-icon-probability').removeClass('fa-chevron-up');
                $('#collapse-icon-probability').addClass('fa-chevron-down');
            }
        });

        function addOption(id_name, data) {
            var select = document.getElementById(id_name);
            select.options.length = 0;
            data.forEach(function (element) {
                select.options[select.options.length] = new Option(element.trim(), element.trim(), false, false);
            });
        };

        function get_underlying() {
            $.ajax({
                type: 'POST',
                url: "{% url 'api-get-underlying' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client }}',
                    'fund': $('#fund-select').val()
                },
                success: function (data) {
                    var underlyingPairs = Object.keys(data['spot_rate']).sort();
                    $('#underlying-select').find('option').remove();

                    underlyingPairs.forEach(function (value) {
                        $('#underlying-select').append('<option value="' + value + '">' + value + '</option>');
                    });

                    hedging_table();
                    forward_curve_flow();
                    highcharts_flow();
                    in_the_money_flow();
                }
            });

        }

        function hedging_table() {
            $.ajax({
                type: 'POST',
                url: "{% url 'api-get-table-underlying' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client }}',
                    'underlying': $('#underlying-select').val(),
                    'valuation_date': $('#asof-select').val()
                },
                success: function (data) {
                    $('#asof-select').datepicker('setDate', new Date(moment(data.as_of_list, 'YYYY-MM-DD').format()));
                    $("#asof-select").datepicker(
                        "option", "dateFormat", "yy-mm-dd");
                    if (gridOptions != null) {
                        gridOptions.api.destroy();
                    }
                    gridOptions = {
                        columnDefs: data['columns'],
                        rowData: data['data'],
                        domLayout: 'autoHeight',
                        rowSelection: 'multiple',
                        onGridReady: function (gridOptions) {
                            gridOptions.columnApi.autoSizeAllColumns();
                        },
                    }
                    var eGridDiv = document.querySelector('#myGrid');
                    myGrid = new agGrid.Grid(eGridDiv, gridOptions);
                }
            });
        }

        function forward_curve_flow() {
            $.ajax({
                type: 'POST',
                url: "{% url 'api_get_forward_Curve' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client }}',
                    'underlying': $('#underlying-select').val()
                },
                success: function (data) {
                    arrayDate = [];
                    for (i = 0; i < data.data.length; i++) {
                        var item = new Array();
                        var tempDate = new Date(data.data[i].delivery_date);
                        item.push(Date.UTC(tempDate.getUTCFullYear(), tempDate.getUTCMonth(), tempDate.getUTCDate()));
                        item.push(data.data[i].outright_forward);
                        arrayDate.push(item);
                    }
                    fwdCurveChart.setTitle({
                        text: 'Forward Curve - ' + $('#underlying-select').val()
                    });
                    fwdCurveChart.series[0].setData(arrayDate);
                }
            });
        }
        function interestrate_curve_flow() {
         {% if client.interest_curve %}
            $.ajax({
                type: 'POST',
                url: "{% url 'api_get_interest_curve' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client }}',
                    'underlying': $('#interest-select').val()
                },
                success: function (data) {
                    var current_val = $('#interest-select').val();
                    var underlyingPairs = data['underlying_list'].sort();
                    $('#interest-select').find('option').remove();

                    underlyingPairs.forEach(function (value) {
                        if (value==current_val){
                         $('#interest-select').append('<option value="' + value + '" selected>' + value + '</option>');
                        }
                        else{
                            $('#interest-select').append('<option value="' + value + '">' + value + '</option>');
                            }
                    });
                    arrayDate = [];
                    for (i = 0; i < data.data.length; i++) {
                        var item = new Array();
                        var tempDate = new Date(data.data[i].security);
                        item.push(Date.UTC(tempDate.getUTCFullYear(), tempDate.getUTCMonth(), tempDate.getUTCDate()));
                        item.push(data.data[i].value__avg);
                        arrayDate.push(item);
                    }
                    interestCurveChart.setTitle({
                        text: 'Interest Curve - ' + $('#interest-select').val()
                    });
                    interestCurveChart.series[0].setData(arrayDate);
                    
                }
            });





          {% endif %}
        }

            // converting cell value to UTC time
        function toTimeFormatter(params) {
            return new Date(params.value).toLocaleString();
        }

            function grid(rowData) {
            if (gridMarketDataOptions != null) {
                gridMarketDataOptions.api.setRowData(rowData);
            } else {
                gridMarketDataOptions = {
                    columnDefs: [
                        { headerName: 'Underlying', field: 'underlying' },
                        {
                            headerName: 'Mid',
                            field: 'mid',
                            valueFormatter: window.formatters.LiveSpotRateTable.spotRef
                        },
                        { headerName: 'TimeStamp', field: 'timestamp', valueFormatter: toTimeFormatter},
                    ],
                    rowData: rowData,
                    domLayout: 'autoHeight',
                    headerHeight: 35,
                    enableColResize: false,
                    defaultColDef: {
                        suppressMovable: true,
                        suppressFilter: true,
                        suppressMenu: true,
                    },
                    suppressColumnVirtualisation: true,
                    onGridReady: function (gridMarketDataOptions) {
                        gridMarketDataOptions.columnApi.autoSizeAllColumns();
                    }
                };

                var eGridDiv = document.querySelector('#gridMarketData');
                new agGrid.Grid(eGridDiv, gridMarketDataOptions);
            }
        }

        function ajaxlivespotrate() {
            if (!document.getElementById('pause').checked) {
                $.ajax({
                    type: 'POST',
                    url: "{% url "live_spot_rates" %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'client': '{{ client }}',
                        'valuation_date': null,
                        'additional_underlying' : true,
                    },
                    success: function (data) {
                        grid(data['data']);
                    }
                });
            }
        }

        function highcharts_flow() {
            $.ajax({
                type: 'POST',
                url: "{% url 'api-get-highcharts' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client }}',
                    'underlying': $('#underlying-select').val()
                },
                success: function (data) {
                    arrayDate = [];
                    for (i = 0; i < data.data.length; i++) {
                        var item = new Array();
                        var tempDate = new Date(data.data[i][0]);
                        item.push(Date.UTC(tempDate.getUTCFullYear(), tempDate.getUTCMonth(), tempDate.getUTCDate()));
                        item.push(data.data[i][1]);
                        arrayDate.push(item);
                    }
                    myChart.setTitle({
                        text: 'Exchange rate over time - ' + $('#underlying-select').val()
                    });
                    myChart.series[0].setData(arrayDate);

                }
            });
        }

        function in_the_money_flow() {
            {% if client.in_the_money_probability %}
            $.ajax({
                type: 'POST',
                url: '{% url "in-the-money-highchart" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client }}',
                    'underlying': $('#underlying-select').val(),
                },
                success: function (data) {
                    probChart.xAxis[0].categories = data.category;
                    probChart.series[0].setData(data.data);
                    probChart.setTitle({ text: "In the money probability - " + $('#underlying-select').val() + " forward" });
                },
            });
            {% endif %}

        }

        function interestCurveDataCall() {
            $.ajax({
                type: 'POST',
                url: '{% url "prepareInterestCurveData" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client }}',
                    },
                success: function (data) {
                    var url = '{% url "download-rolling-data" %}' + data.data;
                    window.location.assign(url);
                }
            });
        }

        function forwardCurveDataCall() {
            $.ajax({
                type: 'POST',
                url: '{% url "prepareForwardCurveData" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'client': '{{ client }}',
                    },
                success: function (data) {
                    var url = '{% url "download-rolling-data" %}' + data.data;
                    window.location.assign(url);
                }
            });
        }

        var fwdCurveChart = new Highcharts.chart('fwd_curve', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    day: '%e of %b'
                },
                title: {
                    text: 'Time'
                },
            },
            yAxis: {
                title: {
                    text: 'Outright Forward'
                }
            },
            exporting: {
        	    filename: 'ForwardCurve'
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: true
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: '',
                data: []
            }]
        })

        {% if client.interest_curve %}

        var interestCurveChart = new Highcharts.chart('interest_curve', {
            chart: {

                zoomType: 'x'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    day: '%e of %b'
                },
                title: {
                    text: 'Date'
                },
            },
            yAxis: {
                title: {
                    text: 'Interest Rate'
                }
            },
            exporting: {
        	    filename: 'InterestCurve'
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: true
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: 'Interest Rate',
                data: []
            }]
        })

        {% endif %}
        var myChart = new Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    day: '%e of %b'
                },
                title: {
                    text: 'Time'
                },
            },
            yAxis: {
                title: {
                    text: 'Exchange rate'
                }
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            exporting: {
                filename: 'Inthemoneyprobability',
                enabled: true
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: '',
                data: []
            }]
        });
        {% if client.in_the_money_probability %}
        var probChart = new Highcharts.chart('in-the-money', {
            chart: {
                zoomType: 'x'
            },

            xAxis: {
                type: 'category',
                title: {
                    text: 'Duration'
                }
            },
            yAxis: {
                title: {
                    text: 'Probability'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[1]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: true
            },
            series: [{
                type: 'line',
                name: '',
                data: []
            }]
        });
        {% endif %}
        $('#fund-select').selectpicker('val', '{{selected_fund}}');
        $('#asof-select').datepicker(
            {
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd"
            });
        get_underlying();
        {% if client.interest_curve %}
            interestrate_curve_flow();
            $('#interest-select').change(function () {
                 interestrate_curve_flow();
            });
        {% endif %}

        $('#fund-select').change(function () {
            $('#asof-select').datepicker('setDate', new Date());
            get_underlying();
        });

        var arrayDate = new Array();
        $('#underlying-select').change(function () {
            $('#asof-select').datepicker('setDate', new Date());
            hedging_table();
            forward_curve_flow();

            highcharts_flow();
            in_the_money_flow();
        });

        $('#asof-select').change(function () {
            hedging_table();
        });

        $('#downloadInterestCurveData').on('click', function () {
            interestCurveDataCall()
        });
        $('#downloadForwardCurveData').on('click', function () {
            forwardCurveDataCall()
        });
        ajaxlivespotrate();
        setInterval(ajaxlivespotrate, 5000);
    });

</script>

{% endblock %}

