{% extends 'NewBase.html' %}
{%load filter%}
{%load static%}


{% block scripts %}
<link href="{% static 'node_modules/bootstrap-select/dist/css/bootstrap-select.css' %}">
<script src="{% static 'js/moment.min.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>

<style>
    .ag-header-cell {
        font-weight: bold;
        font-size: 10px;
        background-color: #c1c1c1;
    }

    .ag-header-cell-label .ag-header-cell-text {
        text-align: center;
        text-overflow: clip;
        overflow: visible;
        overflow-wrap: break-word;
        white-space: normal !important;
    }

    .ag-theme-bootstrap .ag-header-cell,
    .ag-theme-bootstrap .ag-header-group-cell {
        line-height: 15px;
    }

    label {
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="mainForm" name="mainForm">
                    <div class="ibox-tools">
                        {% autoescape off %}
                        {% radiobutton counterparty client user%}
                        {% endautoescape %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="netexposure_container" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        // Couldn't find if this is actually used.
        $('#market').addClass('active');

        function setup_netexposure(data) {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'netexposure_container',
                    type: 'column',
                },
                title: {
                    text: 'Net Exposure Per Counterparty',
                },
                xAxis: {
                    categories: data.counterparty,
                },
                yAxis: {
                    title: {
                        text: '(in millions)',
                        align: 'middle'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    delayForDisplay: 10,
                    shared: true
                },
                annotationsOptions: { enabledButtons: false },
                plotOptions: {
                    series: {
                        turboThreshold: 0
                    }, treemap: {
                        layoutAlgorithm: 'squarified'
                    }, bubble: {
                        minSize: 5,
                        maxSize: 25
                    }, column: {
                        grouping: false,
                        shadow: false,
                        borderWidth: 0
                    }
                },
                legend: {
                    enabled: true,
                    itemDistance: 50,
                    backgroundColor: '#FFFFFF',
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: true
                },
                series: [
                    {
                        showInLegend: true,
                        data: data.threshold,
                        name: 'Threshold',
                        color: '#42BA97',
                        pointPadding: -0.2
                    },
                    {
                        data: data.individual_mtm,
                        name: 'Current MtM',
                        color: '#0099FF',
                        pointPadding: 0.3,
                        pointPlacement: -0.2,
                        dataLabels: {
                            enabled: true,
                            formatter: function () {
                                return Highcharts.numberFormat(this.y, 1, '.', ',') + 'mn';
                            },
                            style: {
                                fontSize: '14px',
                                textOutline: false
                            }
                        }
                    },
                    {
                        data: data.netexp_list,
                        name: 'Net Exposure',
                        color: '#D62839',
                        pointPadding: 0.3,
                        pointPlacement: 0.2,
                        dataLabels: {
                            enabled: true,
                            formatter: function () { return Highcharts.numberFormat(this.y, 1, '.', ',') + 'mn'; },
                            style: { fontSize: '12px', textOutline: false }
                        }
                    }
                ],
                "theme": {
                    "colors": ["#7CB5EC", "#F7A35C", "#90EE7E", "#7798BF", "#AAEEEE", "#FF0066", "#EEAAEE", "#55BF3B"],
                    "chart": { "backgroundColor": null, "style": { "fontFamily": "Dosis, sans-serif" } },
                    "title": { "style": { "fontSize": "16px", "fontWeight": "bold", "textTransform": "uppercase" } },
                    "tooltip": { "borderWidth": 0, "backgroundColor": "rgba(219,219,216,0.8)", "shadow": false },
                    "legend": { "itemStyle": { "fontWeight": "bold", "fontSize": "13px" } },
                    "xAxis": { "gridLineWidth": 1, "labels": { "style": { "fontSize": "12px" } } },
                    "yAxis": {
                        "minorTickInterval": "auto", "title": { "style": { "textTransform": "uppercase" } },
                        "labels": { "style": { "fontSize": "12px" } }
                    }, "plotOptions": { "candlestick": { "lineColor": "#404048" } },
                    "background2": "#F0F0EA"
                },
                "conf_opts": {
                    "global": {
                        "Date": null,
                        "VMLRadialGradientURL": "http =//code.highcharts.com/list(version)/gfx/vml-radial-gradient.png",
                        "canvasToolsURL": "http =//code.highcharts.com/list(version)/modules/canvas-tools.js",
                        "getTimezoneOffset": null,
                        "timezoneOffset": 0,
                        "useUTC": true
                    },
                    "lang": {
                        "contextButtonTitle": "Chart context menu",
                        "decimalPoint": ".",
                        "downloadJPEG": "Download JPEG image",
                        "downloadPDF": "Download PDF document",
                        "downloadPNG": "Download PNG image",
                        "downloadSVG": "Download SVG vector image",
                        "drillUpText": "Back to {series.name}",
                        "invalidDate": null, "loading": "Loading...",
                        "months": [
                            "January",
                            "February",
                            "March",
                            "April",
                            "May",
                            "June",
                            "July",
                            "August",
                            "September",
                            "October",
                            "November",
                            "December"],
                        "noData": "No data to display",
                        "numericSymbols": ["k", "M", "G", "T", "P", "E"],
                        "printChart": "Print chart",
                        "resetZoom": "Reset zoom",
                        "resetZoomTitle": "Reset zoom level 1:1",
                        "shortMonths": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                        "thousandsSep": " ", "weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
                    }
                },
            });

        }




        function addOption(id_name, data) {
            var select = document.getElementById(id_name);
            select.options.length = 0;
            data.forEach(function (element) {
                select.options[select.options.length] = new Option(element.trim(), element.trim(), false, false);
            });
        };

        function fetch_cpmonitor_data(fund_selection = false) {
            $.ajax({
                type: 'POST',
                url: "{% url 'ajax_netexposure' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'counterparty': $('input[name=optradio]:checked', '#mainForm').val(),
                    'client': '{{client.name}}',
                    'fund': $('#fund-select').val()
                },
                success: function (data) {
                    setup_netexposure(data);
                }
            });
        }

        $(document).ready(function () {
            $('#fund-select').selectpicker('val', '{{selected_fund}}');
            fetch_cpmonitor_data();
        });

        // if funds changes we need to perform the action
        $('#fund-select').change(function () {

            fetch_cpmonitor_data(true);
        });

        $('#mainForm input').on('change', function () {
            fetch_cpmonitor_data();
        });


    })();
</script>

{% endblock %}