{% extends 'NewBase.html' %}
{% load filter %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<script defer src="{% static 'js/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pick Up and Credit Cost Analysis</h3>
            </div>

            <div class="panel-body bg-custom-info p-l-0">
                <div class="d-flex justify-content-between">

                     <div class="col-md-4 col-lg-3 col-xl-2">
                        <div class="">
                            <label class="form-label" for="Startdate_valuationDate_select">
                                Start Trade Date
                            </label>

                            <input type="text"
                                id="Startdate_valuationDate_select"
                                autocomplete="off"
                                class="form-control">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <div class="">
                            <label class="form-label" for="EndDate_valuationDate_select">
                                End Trade Date
                            </label>

                            <input type="text"
                                id="EndDate_valuationDate_select"
                                autocomplete="off"
                                class="form-control">
                        </div>
                    </div>

                    <div class="d-flex">
                        <div>
                            <label class="form-label">Download Table</label>
                            <button id="download-analytics" class="btn action-button btn-success btn-block btn-outline">
                                <i class="fas fa-download"></i>
                                Download
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <blockquote>
                     <div class="col-md-6 col-lg-6 col-xl-2">
                             <h3 class=""><i class="fas fa-chart-line"></i> Cumulative Pickup/Cost in Total: </h3>
                             <h4 id="PickupMTM"></h4>
                     </div>
                    <div class="col-md-6 col-lg-6 col-xl-2">
                         <h3 class=""><i class="fas fa-chart-line"></i> Cumulative Credit Cost in Total:</h3>
                         <h4 id="CreditMTM"></h4>
                    </div>
                </blockquote>


                <div class="row">
                    <div class="col-md-10 col-lg-10 col-xl-10 b-l">
                        <div id="pickup_credit-grid-analytics" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

var analyticsJsParams = {
    "client": "{{ client }}",
    "csrf_token": "{{ csrf_token }}",
    "pucanalytics": "{% url "api_pickup_cost_analytics_mtm_table" %}",
    "selected_fund":'{{selected_fund}}'
};

</script>

<script src="{% static 'js/dashboard/pickupcredit_dashboard.js' %}"></script>
{% endblock %}
