{% extends 'NewBase.html' %}
{% load filter %}
{% load static %}



{% block scripts %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/moment.min.js' %}"></script>

<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>

<style>
 .ag-header-cell {
   font-weight: bold;
   font-size: 10px;
   background-color: #c1c1c1;
 }
 .ag-header-cell-label .ag-header-cell-text {
   text-align: center;
   text-overflow: clip;
   overflow: visible;
   overflow-wrap: break-word;
   white-space: normal !important;
 }
 .ag-theme-bootstrap .ag-header-cell, .ag-theme-bootstrap .ag-header-group-cell {
   line-height: 15px;
 }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">

        {% comment %}
        <div class="row">
            <div class="col-lg-12">
                <div id="portfolioSelect"></div>
            </div>
        </div>
        {% endcomment %}

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Trade by Asset Group
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2 b-r">
                              <div id="valuationControlIndi" class="selectized shiny-bound-input">
                                  <label class="control-label" for="valuationControlIndi">Select Valuation Date</label>
                                  {% comment %} <select id="ValuationDate_select" name="formal" class="form-control"></select> {% endcomment %}
                                  <input type="text" id="ValuationDate_select" autocomplete="off" class="form-control">
                              </div>
                            </div>

                            <div class="col-sm-2">
                                <label>Click to Download</label>

                                <div>
                                    <a id="downloadDataPLMTM" class="btn btn-default shiny-download-link shiny-bound-output">
                                        <i class="fas fa-download"></i>
                                        Download
                                    </a>
                                </div>
                            </div>
                            {% comment %}
                                <div class="col-sm-2 b-r">
                                    <div id="PortfolioExit"></div>
                                </div>
                                <div class="col-sm-2 b-r">
                                    <div id="PortfolioEntry"></div>
                                </div>
                                <div class="col-sm-2 b-r">
                                    <div id="PortfolioERate"></div>
                                </div>
                                <div class="col-sm-2 b-r">
                                    <div id="PortfolioInvLC"></div>
                                </div>
                                <div class="col-sm-2">
                                    <div id="PortfolioFlag"></div>
                                </div>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Scenario</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fas fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content ibox-heading">
                        <h3><i class="fas fa-calculator"></i> Expected IRR</h3>
                        <h4>
                            <div id="PortfolioEIRR"></div>
                        </h4>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="feed-activity-list">

                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy">Please Select</small>
                                            <strong>Cashflow Chart Currency in</strong>
                                            <div>
                                                <div id="portfolioChartType"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy">Please Select</small>
                                            <strong>Future Cashflow Coverted by</strong>
                                            <div>
                                                <div id="portfolioCovertRate"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"></small>
                                            <strong>IRR as of Selected Scenario</strong>
                                            <div id="IRRChange"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div id="PortfolioCF"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Deal Valuation (Unhedged vs. Hedged)</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fas fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="portfolioDealHedgeMTMChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Trade Summary</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fas fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content ibox-heading">
                        <h3><i class="fas fa-chart-line"></i> Current MTM</h3>
                        <h4>
                            <div id="PortfolioSumMTM"></div>
                        </h4>
                    </div>
                    <div class="ibox-content">
                        <div class="feed-activity-list">
                            <div class="feed-element">
                                <div>
                                    <small class="pull-right text-navy">From Settlement</small>
                                    <strong>Realised Proceeds</strong>
                                    <div>
                                        <div id="PortfolioRealisedProceeds"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="feed-element">
                                <div>
                                    <small class="pull-right text-navy">Incl. Realised and Unrealised Hedges</small>
                                    <strong>Effective Hedge Rate</strong>
                                    <div>
                                        <div id=PortfolioEffRate"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="feed-element">
                                <div>
                                    <small class="pull-right text-navy"></small>
                                    <strong>Hedge Amounts</strong>
                                    <div>
                                        <div id="PortfolioHedgeRatio"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Base Case Risk Model</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fas fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 b-r">
                                <div id = "CL_select_analytics"
                                                 class="shiny-html-output shiny-bound-output">
                                    <label class="control-label"
                                        for="CL_select_analytics">Confidence Level</label>
                                    <select id="CF_select" name="formal"
                                            class="form-control"    >
                                        <option value="0.95" style="text-align:left;">95%</option>
                                        <option value="0.90" style="text-align:left;">90%</option>
                                        <option value="0.85" style="text-align:left;">85%</option>
                                    </select>
                                </div>
                                <br>
                                <div>
                                <p>1. Base Case IRR: The IRR the fund expects based on the fund model cashflows provided, in the absence of any FX moves or hedging strategy impacts.</p>
                                <p>2. IRR @ Risk: The worst case downside IRR impact that could be experienced from the date of our analysis until the last expected investment exit date, accounting for possible unfavourable movements in FX spot rates, at a one-tailed 95% confidence level. This metric assumes that no hedging is undertaken.</p>
                                <p>3. Worst Case IRR: This metric is calculated as the Base Case IRR net of the negative Value @ Risk in a worst case scenario as well as the positive impact of the hedging strategy in this scenario.  Comparing this to the original Base Case demonstrates the level of protection provided by the hedging strategy.</p>
                                </div>
                            </div>
                            <div class="col-sm-8 b-r">
                                <div id="summary-base-case-risk"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Trade Details</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fas fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div style="font-size: 75%">
                                <div id="PortfolioTradeDetail"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
</div>

<script>
var portfolioDashboardJsParams = {
     "client": "{{ client }}",
     "label": "{{ label }}",
     "csrf_token": "{{ csrf_token }}",
     "selected_fund":"{{selected_fund}}",
     "trade_mtm_url": "{% url "api_analytics_mtm_table" %}",
     "prepare_deal_level_valuation_report_url": "{% url "prepare_deal_level_valuation_report" %}",
     "download_file_data_url": "{% url "download-rolling-data" %}"
};
</script>
<script src="{% static 'js/dashboard/portfolio_dashboard.js' %}"></script>

{% endblock %}