{% extends 'NewBase.html' %}
{% load static %}
{% load filter %}
{% block scripts %}
<style>
    .ag-header-cell {
    font-weight: bold;
    font-size: 12px;
    background-color: #c1c1c1;
    }
    .ag-header-cell-label .ag-header-cell-text {
       text-align: center;
       text-overflow: clip;
       overflow: visible;
       overflow-wrap: break-word;
       white-space: normal !important;
   }
   .ag-theme-bootstrap .ag-header-cell, .ag-theme-bootstrap .ag-header-group-cell {
    line-height: 15px;
    }

	.tabs-container .panel-body {
		background: #fff;
		border: 1px solid #e7eaec;
		border-radius: 2px;
		padding: 20px;
		position: relative;
	}
		.tabs-container .nav-tabs > li.active > a,
		.tabs-container .nav-tabs > li.active > a:hover,
		.tabs-container .nav-tabs > li.active > a:focus {
		border: 1px solid #e7eaec;
		border-bottom-color: transparent;
		background-color: #fff;
	}
		.tabs-container .tab-pane .panel-body {
		border-top: none;
	}

	.ag-row-selected {
	    border-color: #b7e4ff;
    	background-color: #b7e4ff;
	}
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--link rel="stylesheet" href="/resources/demos/style.css"-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

{% endblock %}

{% block content %}
<div id="snoAlertBox" data-alert="alert"></div>
<div id="successBox" data-alert="alert"></div>
{% autoescape off %}
{% tab_validation permission_list "reporting_enabled" user as condition %}
{% endautoescape %}
{% if True %}
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Report Generation</h3>
            </div>

            <div class="panel-body">
                <h5>Please select the reporting dates and report type below:</h5>
                <br>
                <div class="file-manager">
                    <div id="selectReport" class="selectized shiny-bound-input">
                        <label class="control-label" for="selectReport">Select Report</label>
                        <select id="report_select" name="formal" class="form-control"></select>
                    </div>
                    <br>
                    <div id="startDateControl" class="shiny-date-input form-group shiny-input-container shiny-bound-input">
                        <label class="control-label" for="selectStartDate">Start date</label>
                        <input class="form-control" id="selectStartDate" name="selectStartDate" placeholder="DD/MM/YYY"
                            type="text" />
                    </div>
                    <div id="endDateControl" class="shiny-date-input form-group shiny-input-container shiny-bound-input">
                        <label class="control-label" for="selectEndDate">End date</label>
                        <input class="form-control" id="selectEndDate" name="selectEndDate" placeholder="DD/MM/YYY"
                            type="text" />
                    </div>
                    <div id="valuationDateControl" class="shiny-date-input form-group shiny-input-container shiny-bound-input"
                        style="display: none;">
                        <label class="control-label" for="selectValuationDate">Valuation date</label>
                        <input class="form-control" id="selectValuationDate" name="selectEndDate" placeholder="DD/MM/YYY"
                            type="text" />
                    </div>
                    <div id="selectExport" class="selectized shiny-bound-input">
                        <label class="control-label" for="selectExport">Select Export Format</label>
                        <select id="export_select" name="formal" class="form-control"></select>
                    </div>
                    <script>
                        $(document).ready(function () {
                            var start_date_input = $('input[name="selectStartDate"]');
                            var end_date_input = $('input[name="selectEndDate"]');
                            var valuation_date_input = $('input[name="selectValuationDate"]');

                            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                            var options = {
                                format: 'dd/mm/yyyy',
                                container: container,
                                todayHighlight: true,
                                autoclose: true,
                            };
                            start_date_input.datepicker(options);
                            end_date_input.datepicker(options);
                            valuation_date_input.datepicker(options);
                        })
                    </script>

                    <br>
                    <div id="reportingDownloadButton" class="btn btn-default shiny-download-link  shiny-bound-output">Download</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12">
        <br>
        <button type='button' class='btn btn-danger' style="cursor:default;" data-toggle='tooltip' data-placement='left'
            title='Read-Only Mode'>Module under construction.</button>
        <br>
    </div>
</div>
{% endif %}



<script>
    var reportingDashboardJsParams = {
        "client": "{{ client }}",
        "label": "{{ label }}",
        "is_staff": "{{ user.is_staff }}",
        "csrf_token": "{{ csrf_token }}",
        "fetch_reports_list_url": "{% url "fetch_reports_list" %}",
        "prepare_report_url": "{% url "prepare_report" %}",
        "download_file_data_url": "{% url "download-rolling-data" %}"
    };
</script>

<script src="{% static 'js/dashboard/reporting_dashboard.js' %}"></script>
{% endblock %}