{% extends 'NewBase.html' %}
{%load filter%}
{%load static%}


{% block scripts %}


<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<script defer src="{% static 'js/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'js/moment.min.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/highcharts.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/offline-exporting.js' %}"></script>
<script defer src="{% static 'highcharts-7.1.1/modules/export-data.js'  %}"></script>

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>

            <div class="panel-body">
                <form id="fundForm" name="fundForm">
                    <div class="form-group form-group-funds">
                        <label class="control-label" for="SRInputFund_{{item.pk}}">Fund</label>

                        <div>
                            {% for item in fund %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="SRInputFund_{{item.pk}}" name="SRInputFund"
                                        value="{{ item.pk }}" checked="checked">
                                    <span>{{ item.fund_name }}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group form-group-counterparties">
                        <label class="control-label" for="SRInputCounterparty_{{item.counterparty}}">Counterparty</label>
                        <form id="CounterpartyForm" name="CounterpartyForm">
                            {% for item in counterparty %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SRInputCounterparty" id="SRInputCounterparty_{{item.counterparty}}"
                                        value="{{item.counterparty}}" checked="checked">
                                    <span>{{item.counterparty}}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="form-group form-group-counterparties">
                        <label class="control-label" for="SRInputNettingVal">Roll at Netting Value</label>
                        <input type="checkbox" name="SRInputNettingVal" id="SRInputNettingVal"
                                        value="true" checked="checked">
                    </div>

                    <div class="form-group form-group-counterparties">
                        <label class="control-label" for="SRInputRollPNL">Roll to Ensure Non-Entity Currency PnL Flat</label>
                        <input type="checkbox" name="SRInputRollPNL" id="SRInputRollPNL"
                                        value="true" checked="checked">
                    </div>
                    <div class="form-group form-group-counterparties">
                        <label class="control-label" for="SRInputFarLeg">Keep Far Leg Asset Notional Amounts Unchanged</label>
                        <input type="checkbox" name="SRInputFarLeg" id="SRInputFarLeg"
                                        value="false" >
                    </div>

                    <div class="form-group">
                         <label class="form-label" for="SRInputValueDate">
                                Value Date
                            </label>

                            <input type="text"
                                id="SRInputValueDate"
                                autocomplete="off"
                                class="form-control">
                        <!--<label class="control-label" for="SRInputValueDate">Value Date</label>-->
                        <!--<select id="SRInputValueDate" name="SRInputValueDate" class="form-control">-->
                            <!--{% for icon in value_date %}-->
                            <!--<option value='{{icon.value_date|date:'Y-m-d'}}' style="text-align:left;">{{icon.value_date|date:'Y-m-d'}}</option>-->
                            <!--{% endfor %}-->
                        <!--</select>-->
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="pause">
                            Spot Rates:
                        </label>

                        <div id="myGrid" class="ag-theme-balham"></div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="pause" type="checkbox">
                                    <span>Pause</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="SRInputEntity"></div>

                    <p>
                        Click the button to see how much needs to be settled at selected value
                        date. If "Rolling Amounts" on the Rolls table are zero, the system will
                        assume all trades will be settled in full. Also, the system will
                        automatically take current spot rates for near legs if strike on the
                        Rolls table is zero.
                    </p>

                    <button type="button" id="SRCashCal" class="btn action-button btn-success btn-block btn-outline">
                        <i class="fas fa-exclamation-circle"></i>
                        Cash Settlement
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rolling Generator and Cash Settlement Calculation</h3>
            </div>

            <div class="panel-body">
                <h2>Existing Trade Details</h2>

                <hr>

                <div id="trade-mtm-grid" class="ag-theme-balham"></div>

                <hr>

                <h2>Rolls</h2>

                <p> Please fill in the cells marked in orange as required</p>
                <p> Amounts that need to be rolled over on the field "Rolling Amounts" in absolute terms</p>
                <p> New forward date on the field "New Value Date"</p>

                <hr>

                <div id="rolling-grid" class="ag-theme-balham"></div>

                <p> After entering the amounts and dates, simply click the button to download the trades
                    schedule to send to counterparties</p>
                <p> Click the cash settlement button to enable estimated settlement tab on the generated
                    report</p>
                <a id="downloadRollingReport" class="btn btn-default">
                    <i class="fas fa-download"></i>
                    Download Rolling Schedule
                </a>

                <hr>

                <h2>Cash Settlement</h2>

                <div class="row">
                    <div class="col-lg-6">
                        <div id="cashSettlementOptions" class="ag-theme-balham"></div>
                    </div>

                    <div class="col-lg-6">
                        <div id="cashSummationOptions" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block deferred_scripts %}
<script>


window.sarJsParams = {
    "client": "{{ client }}",
    "label": "{{ label }}",
    "csrf_token": "{{ csrf_token }}",
    "fund": "{{ fund }}",
    "value_date":"{{value_date}}",
    "selectedFund": "{{selected_fund}}",
    "tradeTable": "{% url "trade_table" %}",
    "liveSpotRates": "{% url "live_spot_rates" %}",
    "cashSettlement": "{% url "cash_settlement" %}",
    "prepareRollingData": "{% url "prepare-rolling-data" %}",
    "downloadRollingData": "{% url "download-rolling-data" %}"
};
</script>

<script defer src="{% static 'js/dashboard/sar_dashboard.js' %}"></script>
{% endblock %}