{% extends 'NewBase.html' %}
{% load static %}
{% load filter %}

{% block scripts %}

<script defer src="{% static 'highcharts-5.0.6/highcharts.js' %}"></script>

<style>
#snoAlertBox{
    position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
    display:none;
}
</style>
{% endblock %}

{% block content %}
<div id="snoAlertBox" data-alert="alert"></div>
<div id="successBox" data-alert="alert"></div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <h2 class="m-t-0">Allocation View</h2>

            <p>
                This tab allows users to allocate trades on a deal-by-deal,
                entity-by-entity (including sub-funds or SPVs) basis whilst also
                on a fund level. These allocations are used to provide a
                look-through, display the fund's FX exposure and hedge ratio on
                a variety of different levels, including a deal, entity and fund
                basis.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#deal-hedge-editor-tab" aria-expanded="true">All Hedges</a></li>
                    {% autoescape off %}
                    {% tab_validation permission_list "entity_editor" user as condition %}
                    {% endautoescape %}
                    {% if condition %}
                    <li class=""><a data-toggle="tab" href="#dataDealEntity_tab" aria-expanded="false">Deal - Entity</a></li>
                    {% endif %}
                    {% autoescape off %}
                    {% tab_validation permission_list "fund_editor" user as condition %}
                    {% endautoescape %}
                    {% if condition%}
                    <li class=""><a data-toggle="tab" href="#dataEntityFund_tab" aria-expanded="false">Entity - Fund</a></li>
                    {% endif %}
                    {% autoescape off %}
                    {% tab_validation permission_list "trade_allocation_editor" user as condition %}
                    {% endautoescape %}
                    {% if condition %}
                    <li class=""><a data-toggle="tab" href="#dataEntityHedge_tab" aria-expanded="false">Entity - Trade</a></li>
                    {% endif %}
                    {% autoescape off %}
                    {% tab_validation permission_list "fund_hedge_editor" user as condition %}
                    {% endautoescape %}
                    {% if condition %}
                    <li class=""><a data-toggle="tab" href="#dataTradeFundTab" aria-expanded="false">Hedge - Fund</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    {% if "Deal-Hedge Editor" in content_tab_list %}
                    <div id="deal-hedge-editor-tab" class="tab-pane active">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    {% autoescape off %}
                                    {% tab_validation permission_list "deal_hedge_editor" user as condition %}
                                    {% endautoescape %}
                                    {% if condition and client != "Hayfin"%}
                                    <div>
                                        <button type="button" id="addDealHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-plus-circle"></i>&nbsp;New Deal</button>
                                    </div>
                                    <div>
                                        <!--button type="button" id="deleteRowDealHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button-->
                                    </div>
                                    <div>
                                        <button type="button" id="saveDealHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                                    </div>
                                    <div>
                                        <button type="button" id="resetDealHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                                    </div>
                                    {% endif %}
                                    <div>
                                        <a id="downloadAllHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            href="#database_download"><i class="fas fa-download"></i>Download</a>
                                    </div>
                                    <div>
                                        <br />
                                        <pre id="selectedHedges" class="shiny-text-output noplaceholder shiny-bound-output"></pre>
                                    </div>
                                    <div>
                                        <div id="warningTextDealHedge" class="shiny-html-output shiny-bound-output"></div>
                                    </div>
                                    <div>
                                        <div id="commentDealHedge" class="shiny-html-output shiny-bound-output"></div>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div style="font-size: 75%">
                                                <div id="selectHedgesTable" style="width:100%; height:auto;" class="ag-theme-balham"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div id="inputDealHedgeTable" style="width:100%; height:100%; " class="ag-theme-balham"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="dataDealEntity_tab" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div>
                                        <button type="button" id="addDealEntity" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"> <i class="fas fa-plus-circle"></i>&nbsp;Add New Deal
                                            Entity</button>
                                    </div>
                                    <div>
                                        <button type="button" id="saveDealEntity" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                                    </div>
                                    <div>
                                        <button type="button" id="resetDealEntity" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="font-size: 75%">
                                        <div id="data-deal-entity-all" style="width: 100%; height: auto; visibility: inherit;"
                                            class="ag-theme-balham"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="dataEntityFund_tab" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div>
                                        <button type="button" id="addEntityFund" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"> <i class="fas fa-plus-circle"></i>&nbsp;Add New Entity
                                            Fund</button>
                                    </div>
                                    <div>
                                        <button type="button" id="saveEntityFund" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                                    </div>
                                    <div>
                                        <button type="button" id="resetEntityFund" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="font-size: 75%">
                                        <div id="data-entity-fund-all" style="width: 100%; height: auto; visibility: inherit;"
                                            class="ag-theme-balham"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="dataEntityHedge_tab" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">

                                    <div>
                                        <button type="button" id="addEntityHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"> <i class="fas fa-plus-circle"></i>&nbsp;Add New Entity
                                            Hedge</button>
                                    </div>
                                    <div>
                                        <!--<button type="button" id="deleteSelectedEH" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button>-->
                                    </div>
                                    <div>
                                        <button type="button" id="saveEntityHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                                    </div>
                                    <div>
                                        <button type="button" id="resetEntityHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <div style="font-size: 75%">
                                        <div id="data-entity-hedge-all" style="width: 100%; height: auto; visibility: inherit;"
                                            class="ag-theme-balham"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="dataTradeFundTab" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    {% autoescape off %}
                                    {% tab_validation permission_list "fund_hedge_editor" user as condition %}
                                    {% endautoescape %}
                                    {% if condition and client != "Hayfin"%}
                                    <div>
                                        <button type="button" id="addHedgeFund" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-plus-circle"></i>&nbsp;New Fund</button>
                                    </div>
                                    <div>
                                        <!--button type="button" id="deleteRowDealHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input" style="font-size: 80%"><i class="fas fa-minus-circle"></i>&nbsp;Delete Selected</button-->
                                    </div>
                                    <div>
                                        <button type="button" id="saveHedgeFund" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-check-circle"></i>&nbsp;Save Edits</button>
                                    </div>
                                    <div>
                                        <button type="button" id="resetHedgeFund" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"
                                            style="font-size: 80%"><i class="fas fa-exclamation-circle"></i>&nbsp;Reset</button>
                                    </div>
                                    {% endif %}
                                    <!--<div>-->
                                        <!--<a id="downloadAllHedge" class="btn action-button btn-success btn-block btn-outline dim shiny-bound-input"-->
                                            <!--href="#database_download"><i class="fas fa-download"></i>Download</a>-->
                                    <!--</div>-->
                                    <div>
                                        <br />
                                        <pre id="selectedHedgesFund" class="shiny-text-output noplaceholder shiny-bound-output"></pre>
                                    </div>
                                    <div>
                                        <div id="warningTextHedgeFund" class="shiny-html-output shiny-bound-output"></div>
                                    </div>
                                    <div>
                                        <div id="commentHedgeFund" class="shiny-html-output shiny-bound-output"></div>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div style="font-size: 75%">
                                                <div id="selectHedgesFundTable" style="width:100%; height:auto;" class="ag-theme-balham"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div id="inputFundHedgeTable" style="width:100%; height:100%; " class="ag-theme-balham"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block deferred_scripts %}
<script>
var dealsHedgesEditorJsParams = {
        "client": "{{ client }}",
        "label": "{{ label }}",
        "csrf_token": "{{ csrf_token }}",
        "fund": "{{ fund }}",
        "selected_fund": "{{selected_fund}}",
        "fetch_deal_hedge_data_url": "{% url "fetch_deal_hedge_data" %}",
        "api_database_hedge_data_table_url": "{% url "api-database-hedge-data-table" %}",
        "prepare_trade_info_data_url": "{% url "prepare_trade_info_data" %}",
        "download_file_data_url": "{% url "download-rolling-data" %}",
        "save_deal_data_url": "{% url 'save_deal_data' %}",
        "save_deal_entity_url": "{% url 'save_deal_entity' %}",
        "save_entity_fund_url": "{% url 'save_entity_fund' %}",
        "save_entity_trade_url": "{% url 'save_entity_trade' %}",
        "save_fund_hedge_data_url": "{% url 'save_fund_hedge_data' %}",
        "ajax_client_entity": "{% url "ajax_client_entity" %}",
        "ajax_client_deal": "{% url "ajax_client_deal" %}",
        "ajax_client_fund": "{% url "ajax_client_fund" %}"
    };
</script>

{% if "Deal-Hedge Editor" in content_tab_list %}
<script defer src="{% static 'js/dashboard/data_editor/deal_hedge_editor.js' %}"></script>
{% endif %}
{% if "Fund-Hedge Editor" in content_tab_list %}
<script defer src="{% static 'js/dashboard/data_editor/hedge_fund_editor.js' %}"></script>
{% endif %}
<!--{% if request.user.is_active and request.user.is_staff %}-->
<!--<script defer src="{% static 'js/dashboard/data_editor/deal_hedge_creater.js' %}"></script>-->
<!--{% endif %}-->
{% endblock %}